@{
    ViewBag.Title = "Create";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>Create A New Gaming group</h2>
<div class="col-md-10">You need to pick a name for your new gaming group before you can get started!</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <dl>
                    <dd>Pick A Gaming Group Name</dd>
                    <dt>@Html.TextBox("gamingGroupName")</dt>
                </dl>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
