<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=co8944\SQLEXPRESS;Initial Catalog=NerdScorekeeper;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>