/*$header-background-color: #2C3E50;*/
.voffset1 {
  margin-top: 5px; }

.voffset2 {
  margin-top: 10px; }

.voffset3 {
  margin-top: 15px; }

.voffset4 {
  margin-top: 20px; }

.voffset5 {
  margin-top: 25px; }

.voffset6 {
  margin-top: 30px; }

.voffset7 {
  margin-top: 35px; }

.voffset8 {
  margin-top: 40px; }

.voffset9 {
  margin-top: 45px; }

.voffset10 {
  margin-top: 50px; }

.voffset11 {
  margin-top: 55px; }

.voffset12 {
  margin-top: 60px; }

/*$header-background-color: #2C3E50;*/
@media only screen and (max-width: 991px) {
  .flip-scroll .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .flip-scroll * html .cf, .flip-scroll *:first-child + html .cf {
    zoom: 1; }
  .flip-scroll table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative; }
  .flip-scroll th, .flip-scroll td {
    margin: 0;
    vertical-align: top; }
  .flip-scroll th {
    text-align: right !important;
    display: block !important; }
  .flip-scroll thead {
    display: block;
    float: left;
    border-right: 1px solid #babcbf; }
  .flip-scroll tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }
    .flip-scroll tbody tr {
      border-left: 1px solid #babcbf; }
      .flip-scroll tbody tr:first-child {
        border-left: 0; }
  .flip-scroll thead tr {
    display: block; }
  .flip-scroll tbody tr {
    display: inline-block;
    vertical-align: top; }
  .flip-scroll td {
    display: block;
    min-height: 1.25em;
    border-bottom: 0;
    border-left: 0;
    border-right: 0; }
  .flip-scroll th:last-child, .flip-scroll td:last-child {
    border-bottom: 1px solid #babcbf; }
  /* sort out borders */ }

/*$header-background-color: #2C3E50;*/
.home-container {
  background-color: #eee; }
  .home-container .home-body-container {
    background-color: #fff;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%; }
  .home-container .home-banner {
    background: url(/Content/Images/Home/Banner.jpg) no-repeat center center;
    background-size: cover; }
    .home-container .home-banner .cta-wrapper {
      padding: 20px 0 40px 0; }
      .home-container .home-banner .cta-wrapper .subtitle .text {
        font-family: "Audiowide";
        font-size: 60px;
        color: #B2804D;
        margin-top: 40px;
        text-shadow: 0 1px 2px #111111; }
        @media (max-width: 991px) {
          .home-container .home-banner .cta-wrapper .subtitle .text {
            margin-top: 20px;
            text-align: center;
            font-size: 30px; } }
      .home-container .home-banner .cta-wrapper .subtitle img {
        padding-top: 40px;
        height: 150px; }
        @media (max-width: 991px) {
          .home-container .home-banner .cta-wrapper .subtitle img {
            display: block;
            margin: 0 auto;
            height: 100px;
            padding-top: 20px; } }
      .home-container .home-banner .cta-wrapper .panel {
        margin-top: 40px;
        text-align: center; }
        .home-container .home-banner .cta-wrapper .panel .current-player-stats .panel {
          margin-top: 10px; }
        .home-container .home-banner .cta-wrapper .panel .current-player-stats .btn-action {
          width: 100%;
          font-size: 22px; }
          @media (max-width: 991px) {
            .home-container .home-banner .cta-wrapper .panel .current-player-stats .btn-action {
              font-size: 16px; } }
        .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played {
          text-align: left;
          padding: 15px 0; }
          @media (max-width: 991px) {
            .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played {
              text-align: center; } }
          .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played .image-col {
            text-align: center; }
            .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played .image-col .bgg-thumbnail {
              width: auto;
              max-height: 100px;
              max-width: 130px; }
              @media (max-width: 1200px) {
                .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played .image-col .bgg-thumbnail {
                  max-width: 100px; } }
              @media (max-width: 991px) {
                .home-container .home-banner .cta-wrapper .panel .current-player-stats .last-game-played .image-col .bgg-thumbnail {
                  text-align: center;
                  min-height: 100px;
                  max-width: 175px; } }
        .home-container .home-banner .cta-wrapper .panel .current-player-stats .stat-value {
          font-size: 28px; }
        .home-container .home-banner .cta-wrapper .panel .social-login button {
          width: 100%;
          font-size: 22px; }
          .home-container .home-banner .cta-wrapper .panel .social-login button i.fa {
            margin-right: 10px; }
        .home-container .home-banner .cta-wrapper .panel .common-login {
          background-color: #eee; }
          .home-container .home-banner .cta-wrapper .panel .common-login .or {
            position: relative;
            left: 50%;
            margin-left: -15px;
            top: -15px;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            color: #4e525b;
            font-size: 14px;
            font-weight: 700;
            background-color: white;
            -webkit-border-radius: 500px;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 500px;
            -moz-background-clip: padding;
            border-radius: 500px;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            z-index: 2; }
          .home-container .home-banner .cta-wrapper .panel .common-login .title {
            font-size: 19px;
            margin-bottom: 20px;
            margin-top: -10px; }
          .home-container .home-banner .cta-wrapper .panel .common-login .form-group {
            margin-bottom: 5px; }
            .home-container .home-banner .cta-wrapper .panel .common-login .form-group:last-child {
              margin-bottom: 0;
              padding-bottom: 15px; }

/*$header-background-color: #2C3E50;*/
body {
  padding-top: 50px;
  overflow-x: hidden; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px; }

a[name] {
  padding-top: 50px;
  margin-top: -50px;
  display: inline-block; }

/* Set width on the form input elements since they're 100% wide by default */
input, select {
  max-width: 280px; }

/* styles for validation helpers */
.field-validation-error {
  color: #EB7260; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #EB7260; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #EB7260; }

.validation-summary-valid {
  display: none; }

.firstplace {
  color: #1f827d;
  font-weight: 700; }

.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul input[type=text] {
  width: 25px; }

.homelogo {
  background: url(/Content/Images/NemeStats-White.png) no-repeat top left;
  display: block;
  width: 150px;
  text-indent: -9999px; }

.margin-bottom-xs {
  margin-bottom: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.margin-bottom-sm {
  margin-bottom: 1em; }

.margin-bottom-md {
  margin-bottom: 1.5em; }

.margin-bottom-lg {
  margin-bottom: 2em; }

.margin-left-sm {
  margin-left: 1em; }

.margin-left-md {
  margin-left: 1.5em; }

.margin-left-lg {
  margin-left: 2em; }

.margin-sm {
  margin: 1em; }

.margin-md {
  margin: 1.5em; }

.margin-lg {
  margin: 2em; }

.line-bottom-sm {
  border-bottom: #eee;
  border-bottom-style: solid;
  border-bottom-width: 1px; }

.line-bottom-md {
  border-bottom: #eee;
  border-bottom-style: solid;
  border-bottom-width: 2px; }

.font-size-xs {
  font-size: 0.5em; }

.font-size-sm {
  font-size: 1.5em; }

.font-size-md {
  font-size: 2.5em; }

.font-size-lg {
  font-size: 3.5em; }

.line-bottom-sm:last-child {
  border-bottom-style: hidden;
  border-bottom-width: 0; }

/*Customize the carousel*/
/* Carousel base class */
.carousel {
  background-color: #eee; }

.carousel-caption {
  color: black;
  position: inherit;
  text-shadow: none; }

/* Declare heights because of positioning of img element */
.carousel .item {
  min-height: 260px;
  background-color: #eee;
  margin-bottom: 10px; }

.fl-left {
  float: left; }

.fl-right {
  float: right; }

.fl-clear {
  clear: both; }

/* tablets and desktops */
@media (min-width: 481px) {
  .home-page-icon {
    font-size: 8em; } }

.push-30 {
  margin-top: 30px; }

.editable-title {
  padding: 5px;
  cursor: pointer; }
  .editable-title:hover {
    background: #ddd;
    border-radius: 4px; }

.autocomplete-loading {
  background: #fff url("/Content/Images/spinner.gif") no-repeat right center; }

.leftItem {
  display: inline-block;
  /*max-width: 120px;*/
  overflow: hidden;
  padding: 5px 0 0 3px; }
  .leftItem span {
    display: inline-block;
    line-height: 30px;
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis; }

.rightItem {
  display: inline-block;
  padding: 7px 3px 0 0; }

.playerRank {
  height: 28px;
  width: 30px !important;
  border-radius: 5px;
  border-color: #18bc9c !important;
  border-width: 3px;
  text-align: center; }

.playerItem {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  background-color: #354458;
  max-width: 380px;
  margin: 8px;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  white-space: nowrap;
  margin-left: 0px; }
  .playerItem button {
    color: #354458; }
  .playerItem input[type="text"] {
    color: #354458;
    border-color: #354458; }

.gaming-group-name {
  min-width: 95%;
  max-width: 95%; }

.panel-text-vertical-center {
  line-height: 43px; }

a:not(.btn), table a:not(.btn), .table a:not(.btn) {
  text-decoration: none; }

a:not(.btn):hover {
  text-decoration: underline; }

a.navbar-brand:hover {
  text-decoration: none; }

table > thead :hover {
  background-color: none !important; }

h3 > a {
  font-size: smaller; }

.gameResult-teamLoss {
  color: #EB7260; }

.gameResult-teamWin {
  color: #29ABA4; }

.rank-item {
  font-size: 26px; }

.upvote-count {
  color: #29ABA4;
  font-weight: 700; }

.downvote-count {
  color: #EB7260;
  font-weight: 700; }

.btn-recordgame {
  width: 175px;
  margin: 3px 3px 3px 3px; }

button > i.fa {
  font-size: 20px; }

.panel > i.fa {
  line-height: 36; }

.navbar-brand {
  padding: 10px; }
  .navbar-brand img {
    width: 120px; }

footer {
  padding-bottom: 10px; }
  footer span {
    top: 10px; }

/*$header-background-color: #2C3E50;*/
@media (max-width: 991px) {
  .home-page-icon {
    font-size: 4em; }
  .leftItem {
    display: inline-block;
    max-width: 90px;
    overflow: hidden; } }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    font-size: 13px;
    padding-right: 5px; } }

.game-player-statistics .flip-scroll tr {
  width: 120px;
  text-align: center; }

@media only screen and (max-width: 991px) {
  .flip-scroll .badges-head {
    height: 37px; }
  .flip-scroll .bgg-link-head {
    height: 100px; }
  .flip-scroll .edit-head {
    height: 48px; }
  .flip-scroll .avgpoints-head {
    height: 50px; }
  .flip-scroll .name-head {
    height: 70px; }
  .flip-scroll .nemesis-head {
    height: 70px;
    width: 100px;
    padding-right: 0; }
  .flip-scroll .result-head {
    height: 190px; }
  .flip-scroll .wonpercentage-head {
    height: 73px;
    padding-top: 40px; }
  .flip-scroll .badges-col {
    height: 37px; }
  .flip-scroll .avgpoints-col {
    height: 50px; }
  .flip-scroll .name-col {
    height: 70px;
    max-width: 200px;
    overflow: hidden; }
    .flip-scroll .name-col a {
      white-space: normal;
      word-break: break-word; }
  .flip-scroll .edit-col {
    height: 48px;
    text-align: center; }
  .flip-scroll .plays-col {
    text-align: center; }
  .flip-scroll .nemesis-col {
    height: 70px; }
  .flip-scroll .champion-col {
    text-align: center; }
  .flip-scroll .result-col {
    height: 190px;
    overflow-y: auto;
    overflow-x: hidden; } }

/*$header-background-color: #2C3E50;*/
.btn.btn-google {
  color: white;
  background-color: #2196F3;
  border-color: #2196F3; }
  .btn.btn-google:focus, .btn.btn-google.focus {
    color: white;
    background-color: #0c7cd5;
    border-color: #08528d; }
  .btn.btn-google:hover {
    color: white;
    background-color: #0c7cd5;
    border-color: #0b76cc; }
  .btn.btn-google:active, .btn.btn-google.active,
  .open > .btn.btn-google.dropdown-toggle {
    color: white;
    background-color: #0c7cd5;
    border-color: #0b76cc; }
    .btn.btn-google:active:hover, .btn.btn-google:active:focus, .btn.btn-google:active.focus, .btn.btn-google.active:hover, .btn.btn-google.active:focus, .btn.btn-google.active.focus,
    .open > .btn.btn-google.dropdown-toggle:hover,
    .open > .btn.btn-google.dropdown-toggle:focus,
    .open > .btn.btn-google.dropdown-toggle.focus {
      color: white;
      background-color: #0a68b4;
      border-color: #08528d; }
  .btn.btn-google:active, .btn.btn-google.active,
  .open > .btn.btn-google.dropdown-toggle {
    background-image: none; }
  .btn.btn-google.disabled, .btn.btn-google.disabled:hover, .btn.btn-google.disabled:focus, .btn.btn-google.disabled.focus, .btn.btn-google.disabled:active, .btn.btn-google.disabled.active, .btn.btn-google[disabled], .btn.btn-google[disabled]:hover, .btn.btn-google[disabled]:focus, .btn.btn-google[disabled].focus, .btn.btn-google[disabled]:active, .btn.btn-google[disabled].active,
  fieldset[disabled] .btn.btn-google,
  fieldset[disabled] .btn.btn-google:hover,
  fieldset[disabled] .btn.btn-google:focus,
  fieldset[disabled] .btn.btn-google.focus,
  fieldset[disabled] .btn.btn-google:active,
  fieldset[disabled] .btn.btn-google.active {
    background-color: #2196F3;
    border-color: #2196F3; }
  .btn.btn-google .badge {
    color: #2196F3;
    background-color: white; }

.btn.btn-action {
  color: white;
  background-color: #3A9AD9;
  border-color: #354458;
  text-transform: uppercase; }
  .btn.btn-action:focus, .btn.btn-action.focus {
    color: white;
    background-color: #2480bc;
    border-color: #050708; }
  .btn.btn-action:hover {
    color: white;
    background-color: #2480bc;
    border-color: #1e2632; }
  .btn.btn-action:active, .btn.btn-action.active,
  .open > .btn.btn-action.dropdown-toggle {
    color: white;
    background-color: #2480bc;
    border-color: #1e2632; }
    .btn.btn-action:active:hover, .btn.btn-action:active:focus, .btn.btn-action:active.focus, .btn.btn-action.active:hover, .btn.btn-action.active:focus, .btn.btn-action.active.focus,
    .open > .btn.btn-action.dropdown-toggle:hover,
    .open > .btn.btn-action.dropdown-toggle:focus,
    .open > .btn.btn-action.dropdown-toggle.focus {
      color: white;
      background-color: #1e6b9e;
      border-color: #050708; }
  .btn.btn-action:active, .btn.btn-action.active,
  .open > .btn.btn-action.dropdown-toggle {
    background-image: none; }
  .btn.btn-action.disabled, .btn.btn-action.disabled:hover, .btn.btn-action.disabled:focus, .btn.btn-action.disabled.focus, .btn.btn-action.disabled:active, .btn.btn-action.disabled.active, .btn.btn-action[disabled], .btn.btn-action[disabled]:hover, .btn.btn-action[disabled]:focus, .btn.btn-action[disabled].focus, .btn.btn-action[disabled]:active, .btn.btn-action[disabled].active,
  fieldset[disabled] .btn.btn-action,
  fieldset[disabled] .btn.btn-action:hover,
  fieldset[disabled] .btn.btn-action:focus,
  fieldset[disabled] .btn.btn-action.focus,
  fieldset[disabled] .btn.btn-action:active,
  fieldset[disabled] .btn.btn-action.active {
    background-color: #3A9AD9;
    border-color: #354458; }
  .btn.btn-action .badge {
    color: #3A9AD9;
    background-color: white; }

/*$header-background-color: #2C3E50;*/
.progress {
  height: 20px;
  margin-bottom: 0; }
  .progress .progress-bar {
    font-size: 18px;
    line-height: 18px; }
    @media (max-width: 991px) {
      .progress .progress-bar {
        font-size: 14px;
        line-height: 20px; } }
    .progress .progress-bar.won {
      background-color: #29ABA4;
      position: relative; }
      .progress .progress-bar.won:before {
        content: ' ';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: transparent #ffffff transparent transparent; }
      .progress .progress-bar.won:after {
        content: ' ';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent #ffffff transparent; }
    .progress .progress-bar.lost {
      background-color: #EB7260;
      position: relative; }
      .progress .progress-bar.lost:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 0 0;
        border-color: #ffffff transparent transparent transparent; }
      .progress .progress-bar.lost:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent #ffffff; }
    .progress .progress-bar span {
      margin-left: 5px; }

.game-player-statistics th {
  text-align: center; }

/*$header-background-color: #2C3E50;*/
.neme-points-ico {
  color: #354458;
  font-size: 10px; }
  .neme-points-ico .letter {
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.player-statistics .fa.fa-trophy.fa-slashed {
  position: relative; }
  .player-statistics .fa.fa-trophy.fa-slashed:after {
    position: absolute;
    content: "/";
    font-weight: 700;
    font-size: 1.7em;
    top: -7px; }

.game-player-statistics .fa.fa-trophy.fa-slashed {
  position: relative; }
  .game-player-statistics .fa.fa-trophy.fa-slashed:after {
    position: absolute;
    content: "/";
    font-weight: 700;
    font-size: 1.7em;
    top: -7px;
    left: 0; }

@media (max-width: 991px) {
  #player-details .gameDefinitionsList.flip-scroll .badges-head {
    padding: 5px; }
  #player-details .gameDefinitionsList.flip-scroll .badges-col {
    line-height: 0;
    height: 31px; }
    #player-details .gameDefinitionsList.flip-scroll .badges-col .fa.fa-trophy.fa-slashed:after {
      top: 0;
      left: -17px; } }

#player-details .gameDefinitionsList .badges-col {
  width: 20px;
  line-height: 100px; }
  #player-details .gameDefinitionsList .badges-col .fa.fa-trophy.fa-slashed:after {
    position: relative;
    content: "/";
    font-weight: 700;
    font-size: 1.6em;
    top: -21px; }

#player-details .gameDefinitionsList .bgg-link-col {
  text-align: left; }

/*$header-background-color: #2C3E50;*/
.gameDefinitionsList .edit-col {
  text-align: center; }

.gameDefinitionsList .no-bgg-ico {
  font-size: 40px; }

.gameDefinitionsList .bgg-link-col {
  font-weight: 700;
  height: 100px;
  overflow: hidden;
  text-align: center;
  max-width: 200px; }
  .gameDefinitionsList .bgg-link-col .bgg-thumbnail {
    width: auto;
    height: 100%;
    min-height: 100px; }

.createGameDefinitionPartial .importbgg img {
  margin-left: 5px; }

/*$header-background-color: #2C3E50;*/
.filter {
  display: inline-block; }
  .filter .control-block {
    float: left;
    margin-right: 10px; }
    @media (max-width: 1199px) {
      .filter .control-block {
        margin-top: 10px; } }
    .filter .control-block button {
      margin-top: 10px; }

.bgguser-integration img {
  margin-right: 10px; }

/*# sourceMappingURL=nemestats.css.map */