{
  "openapi": "3.0.0",
  "info": {
    "title": "NemeStats API",
    "description": "TODO: Add a description",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://nemestats.com/api/v2",
      "variables": {}
    }
  ],
  "paths": {
    "/Users/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register a new User",
        "description": "Register a new User and Gaming Group at the same time. Once a User account is created then requests can be made\nto the User Sessions resource to give back and authentication token. Registering a new User will\nalso create a single Player with the same name as the new User. A confirmation email will be \nsent to the email address of the new User.",
        "operationId": "RegisterANewUser",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "userId": "some user id",
                    "playerId": 7980,
                    "playerName": "some username",
                    "gamingGroupId": 6326,
                    "gamingGroupName": "some username's Gaming Group",
                    "authenticationToken": "6ce40b88-d366-4c5d-b60d-cfbd9107bcd9",
                    "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
                  },
                  "$ref": "#/components/schemas/RegisterANewUserResponse"
                },
                "example": {
                  "userId": "some user id",
                  "playerId": 7980,
                  "playerName": "some username",
                  "gamingGroupId": 6326,
                  "gamingGroupName": "some username's Gaming Group",
                  "authenticationToken": "6ce40b88-d366-4c5d-b60d-cfbd9107bcd9",
                  "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterANewUser400Response"
                },
                "example": {
                  "message": "Name 'some username' is already taken."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/Users/{userId}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get User Information",
        "description": "Retrieve basic information for a given User, including their active and inactive Gaming Groups. This service is secured so that only an X-Auth-Token for the requested User\nwill return a valid response.",
        "operationId": "GetUserInformation",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The NemeStats unique identifier for the User.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some guid user id"
            },
            "example": "some guid user id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "the token for the requested user"
            },
            "example": "the token for the requested user"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserInformation400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserInformation400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/UserSessions/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a new User Session",
        "description": "Authenticates the given User and gives back an authentication token which can be sent in the X-Auth-Token\nheader on subsequent requests to the API that require authentication. This authentication token will be valid\nfor about 3 months or until another request to POST /UserSessions/ invalidates the token (while providing a new one).\nYou can pass the uniqueDeviceId to get a different authenticationToken per device.\nA User Session is represented by an authentication token.",
        "operationId": "CreateANewUserSession",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateANewUserSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "authenticationToken": "some awesome token",
                    "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
                  },
                  "$ref": "#/components/schemas/CreateANewUserSessionResponse"
                },
                "example": {
                  "authenticationToken": "some awesome token",
                  "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewUserSession401Response"
                },
                "example": {
                  "message": "Invalid credentials provided."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/PlayedGames/": {
      "get": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Get Played Games",
        "description": "Retrieve a list of Played Games given some criteria. Currently limited to a single Gaming Group at a time\nvia the required gamingGroupId query string parameter.",
        "operationId": "GetPlayedGames",
        "parameters": [
          {
            "name": "gamingGroupId",
            "in": "query",
            "description": "The NemeStats unique identifier for the Gaming Group of the Played Game.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 923
            },
            "example": "923"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          },
          {
            "name": "startDateGameLastUpdated",
            "in": "query",
            "description": "If set, all Played Games returned will have been updated greater than or equal to this date. Dates must be in yyyy-MM-dd format.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "2015-04-26"
            },
            "example": "2015-04-26"
          },
          {
            "name": "endDateGameLastUpdated",
            "in": "query",
            "description": "If set, all Played Games returned will have been updated less than or equal to this date. Dates must be in yyyy-MM-dd format.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "2015-09-30"
            },
            "example": "2015-09-30"
          },
          {
            "name": "datePlayedFrom",
            "in": "query",
            "description": "If set, all Played Games returned will returned will have been played greater than or equal to this date. Dates must be in yyyy-MM-dd format.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "2015-07-01"
            },
            "example": "2015-07-01"
          },
          {
            "name": "datePlayedTo",
            "in": "query",
            "description": "If set, all Played Games returned will have been played less than or equal to this date. Dates must be in yyyy-MM-dd format.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "2015-07-15"
            },
            "example": "2015-07-15"
          },
          {
            "name": "playerId",
            "in": "query",
            "description": "If set, will only return Played Games where this Player participated.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 9791
            },
            "example": "9791"
          },
          {
            "name": "exclusionApplicationName",
            "in": "query",
            "description": "If set, only returns Played Games where there are no Application Linkages with an applicationName matching the specified value. This could be useful for finding any Played Games that did not original from a particular client application. Used in conjuction with startDateGameLastUpdated it could be especially useful for mass synching.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inclusionApplicationName",
            "in": "query",
            "description": "If set, only returns Played Games where there is an Application Linkage having the specified value. This could be useful for finding any Played Games that originated from the source application so that the unsynched games could be determined on the client side.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maximumNumberOfResults",
            "in": "query",
            "description": "The maximum number of results to be returned. The default is no limit.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 100
            },
            "example": "100"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayedGames400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayedGames400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "put": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Update an existing Played Game",
        "description": "This service will update an existing PlayedGame and will recalculate any Badges or Achievements accordingly.",
        "operationId": "UpdateAnExistingPlayedGame",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request15"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "Entity of type 'PlayedGame' with Id '591831' does not exist."
                }
              }
            }
          },
          "409": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "Player with id '456' is not in the Gaming Group with id '9818' -- which is the Gaming Group to which the Played Game is being recorded. All Players must be in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Create a new Played Game",
        "description": "This service will record a new Played Game under the specified Gaming Group (per the gamingGroupId).",
        "operationId": "CreateANewPlayedGame",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request10"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "playedGameId": 31995,
                    "gamingGroupId": 9818,
                    "nemeStatsUrl": "https://nemestats.com/PlayedGame/Details/31995"
                  },
                  "$ref": "#/components/schemas/CreateANewPlayedGameResponse"
                },
                "example": {
                  "playedGameId": 31995,
                  "gamingGroupId": 9818,
                  "nemeStatsUrl": "https://nemestats.com/PlayedGame/Details/31995"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayedGame400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayedGame400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "409": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayedGame400Response"
                },
                "example": {
                  "message": "Player with id '456' is not in the Gaming Group with id '1351' -- which is the Gaming Group to which the Played Game is being recorded. All Players must be in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/PlayedGames/{playedGameId}/": {
      "delete": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Delete an existing Played Game",
        "description": "This service will permanently delete a Played Game and re-adjust NemeStats statistics accordingly.",
        "operationId": "DeleteAnExistingPlayedGame",
        "parameters": [
          {
            "name": "playedGameId",
            "in": "path",
            "description": "The NemeStats unique identifier of a given Played Game.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 16098
            },
            "example": "16098"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAnExistingPlayedGame400Response"
                },
                "example": {
                  "message": "A Played Game with playedGameId '-1' does not exist in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/Players/": {
      "get": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Get Players in Gaming Group",
        "description": "Retrieve a list of all Players in the given Gaming Group.",
        "operationId": "GetPlayersInGamingGroup",
        "parameters": [
          {
            "name": "gamingGroupId",
            "in": "query",
            "description": "The NemeStats unique identifier for the Gaming Group of the Player.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 923
            },
            "example": "923"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "players": [
                      {
                        "playerName": "Anna Viko",
                        "playerId": 789,
                        "active": "true",
                        "currentNemesisPlayerId": 456,
                        "nemeStatsUrl": "https://nemestats.com/Player/Details/789"
                      },
                      {
                        "playerName": "Chris Konnel",
                        "playerId": 456,
                        "active": "true",
                        "currentNemesisPlayerId": 456,
                        "nemeStatsUrl": "https://nemestats.com/Player/Details/456"
                      },
                      {
                        "playerName": "The Destroyer",
                        "playerId": 111,
                        "active": "true",
                        "currentNemesisPlayerId": null,
                        "nemeStatsUrl": "https://nemestats.com/Player/Details/111"
                      },
                      {
                        "playerName": "Herb",
                        "playerId": 112,
                        "active": "true",
                        "currentNemesisPlayerId": 789,
                        "nemeStatsUrl": "https://nemestats.com/Player/Details/112"
                      },
                      {
                        "playerName": "Marvin",
                        "playerId": 745,
                        "active": "false",
                        "currentNemesisPlayerId": null,
                        "nemeStatsUrl": "https://nemestats.com/Player/Details/745"
                      }
                    ]
                  },
                  "$ref": "#/components/schemas/GetPlayersInGamingGroupResponse"
                },
                "example": {
                  "players": [
                    {
                      "playerName": "Anna Viko",
                      "playerId": 789,
                      "active": "true",
                      "currentNemesisPlayerId": 456,
                      "nemeStatsUrl": "https://nemestats.com/Player/Details/789"
                    },
                    {
                      "playerName": "Chris Konnel",
                      "playerId": 456,
                      "active": "true",
                      "currentNemesisPlayerId": 456,
                      "nemeStatsUrl": "https://nemestats.com/Player/Details/456"
                    },
                    {
                      "playerName": "The Destroyer",
                      "playerId": 111,
                      "active": "true",
                      "currentNemesisPlayerId": null,
                      "nemeStatsUrl": "https://nemestats.com/Player/Details/111"
                    },
                    {
                      "playerName": "Herb",
                      "playerId": 112,
                      "active": "true",
                      "currentNemesisPlayerId": 789,
                      "nemeStatsUrl": "https://nemestats.com/Player/Details/112"
                    },
                    {
                      "playerName": "Marvin",
                      "playerId": 745,
                      "active": "false",
                      "currentNemesisPlayerId": null,
                      "nemeStatsUrl": "https://nemestats.com/Player/Details/745"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayersInGamingGroup400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlayersInGamingGroup400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Create a new Player",
        "description": "This service will create a new Player in the specified Gaming Group (per the gamingGroupId).",
        "operationId": "CreateANewPlayer",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request29"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "playerId": 105156,
                    "gamingGroupId": 51,
                    "nemeStatsUrl": "https://nemestats.com/Player/Details/105156"
                  },
                  "$ref": "#/components/schemas/CreateANewPlayerResponse"
                },
                "example": {
                  "playerId": 105156,
                  "gamingGroupId": 51,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/105156"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayer400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayer400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "409": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewPlayer409Response"
                },
                "example": {
                  "message": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group. The existing playerId is '15490'.",
                  "subErrorCode": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/Players/{playerId}/": {
      "put": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Update an existing Player",
        "description": "This service will update a given Player in the given Gaming Group.",
        "operationId": "UpdateAnExistingPlayer",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "The NemeStats unique identifier of a given Player.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 12345
            },
            "example": "12345"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request34"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayer400Response"
                },
                "example": {
                  "message": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayer400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingPlayer400Response"
                },
                "example": {
                  "message": "A Player with playerId '12345' does not exist in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/GameDefinitions/": {
      "get": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Get Game Definitions in Gaming Group",
        "description": "Retrieve a list of all Game Definitions in the given Gaming Group.",
        "operationId": "GetGameDefinitionsInGamingGroup",
        "parameters": [
          {
            "name": "gamingGroupId",
            "in": "query",
            "description": "The NemeStats unique identifier for the Gaming Group of the Game Definitions.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "example": 923
            },
            "example": "923"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGameDefinitionsInGamingGroup400Response"
                },
                "example": {
                  "message": "This action requires an X-Auth-Token header."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGameDefinitionsInGamingGroup400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Create a new Game Definition",
        "description": "This service will create a new Game Definition in the specified Gaming Group (per the gamingGroupId).",
        "operationId": "CreateANewGameDefinition",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request41"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "gameDefinitionId": 105156,
                    "gamingGroupId": 195,
                    "nemeStatsUrl": "https://nemestats.com/GameDefinition/Details/105156"
                  },
                  "$ref": "#/components/schemas/CreateANewGameDefinitionResponse"
                },
                "example": {
                  "gameDefinitionId": 105156,
                  "gamingGroupId": 195,
                  "nemeStatsUrl": "https://nemestats.com/GameDefinition/Details/105156"
                }
              }
            }
          },
          "409": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateANewGameDefinition409Response"
                },
                "example": {
                  "message": "A Game Definition with name 'Monopoly (1933)' already exists in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/GameDefinitions/{gameDefinitionId}/": {
      "put": {
        "tags": [
          "Gaming Groups"
        ],
        "summary": "Update an existing Game Definition",
        "description": "This service will update a given Player in the given Gaming Group.",
        "operationId": "UpdateAnExistingGameDefinition",
        "parameters": [
          {
            "name": "gameDefinitionId",
            "in": "path",
            "description": "The NemeStats unique identifier of a given Game Definition.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 923
            },
            "example": "923"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            },
            "example": "application/json"
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "some token"
            },
            "example": "some token"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Request44"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": ""
          },
          "400": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingGameDefinition400Response"
                },
                "example": {
                  "message": "A Game Definition with name 'Some Game Definition Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
                }
              }
            }
          },
          "401": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingGameDefinition400Response"
                },
                "example": {
                  "message": "Invalid X-Auth-Token"
                }
              }
            }
          },
          "404": {
            "description": "Unexpected error in API call. See HTTP response body for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAnExistingGameDefinition400Response"
                },
                "example": {
                  "message": "A Game Definition with gameDefinitionId '87658' does not exist in this Gaming Group."
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Request": {
        "title": "request",
        "required": [
          "emailAddress",
          "userName",
          "password"
        ],
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": "string",
            "description": "Email address of the User",
            "example": "someemail@mailinator.com"
          },
          "userName": {
            "type": "string",
            "description": "NemeStats username",
            "example": "some username"
          },
          "password": {
            "type": "string",
            "description": "NemeStats password",
            "example": "some new password"
          },
          "uniqueDeviceId": {
            "type": "string",
            "description": "A unique identifier for the device of the user. It only needs to be unique in\nrelation to the other devices that a User may have. For example, this could be used if a User has an iPhone and iPad\nand needs to get a different auth token for both. If there can only ever be one client device for the User then this can be omitted.",
            "example": "some unique key for the user's device"
          }
        }
      },
      "RegisterANewUserResponse": {
        "title": "Register a new User response",
        "required": [
          "userId",
          "playerId",
          "playerName",
          "gamingGroupId",
          "gamingGroupName",
          "authenticationToken",
          "authenticationTokenExpirationDateTime"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "NemeStats unique identifier of the newly registered user. May be\nused in the future to pull statistics for a given User (but currently has no use in the API).",
            "example": "some user id"
          },
          "playerId": {
            "type": "number",
            "description": "NemeStats unique identifier for the corresponding Player\nthat was created and associated with the newly created User.",
            "example": 7980
          },
          "playerName": {
            "type": "string",
            "description": "The name of the Player that was just created. Defaults to\nthe same name of the newly created User.",
            "example": "some username"
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier of the Gaming Group that was created as part\nof the User registration. The new User and Player are automatically placed in this Gaming Group.\nThis id wiall be important for subsequent requests to the API and should definitely be stored\nclient-side.",
            "example": 6326
          },
          "gamingGroupName": {
            "type": "string",
            "description": "The name of the newly created Gaming Group.",
            "example": "some username's Gaming Group"
          },
          "authenticationToken": {
            "type": "string",
            "description": "The token that should be sent in the X-Auth-Token request header on\nsubsequent requests to the API that require authentication.",
            "example": "6ce40b88-d366-4c5d-b60d-cfbd9107bcd9"
          },
          "authenticationTokenExpirationDateTime": {
            "type": "string",
            "description": "The date and time (ISO-8601 format) in which the authentication token will expire.\nUpon expiration, subsequent requests to the API using this token will return a 401 Not Authorized.",
            "example": "9/3/2016 4:47:10 PM"
          }
        },
        "example": {
          "userId": "some user id",
          "playerId": 7980,
          "playerName": "some username",
          "gamingGroupId": 6326,
          "gamingGroupName": "some username's Gaming Group",
          "authenticationToken": "6ce40b88-d366-4c5d-b60d-cfbd9107bcd9",
          "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
        }
      },
      "RegisterANewUser400Response": {
        "title": "Register a new User 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Name 'some username' is already taken."
          }
        },
        "example": {
          "message": "Name 'some username' is already taken."
        }
      },
      "GetUserInformation400Response": {
        "title": "Get User Information 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "CreateANewUserSessionRequest": {
        "title": "Create a new User Session request",
        "required": [
          "userName",
          "password"
        ],
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "description": "Username of the User being authenticated",
            "example": "some legit username"
          },
          "password": {
            "type": "string",
            "description": "Password of the User being authenticated",
            "example": "some legit password"
          },
          "uniqueDeviceId": {
            "type": "string",
            "description": "A unique identifier for the device of the user. It only needs to be unique in\nrelation to the other devices that a User may have. For example, this could be used if a User has an iPhone and iPad\nand needs to get a different auth token for both. Getting a new UserSession using the same uniqueDeviceId will override/invalidate the \nprevious auth token for that device.",
            "example": "desome unique key for the user's device"
          }
        }
      },
      "CreateANewUserSessionResponse": {
        "title": "Create a new User Session response",
        "required": [
          "authenticationToken",
          "authenticationTokenExpirationDateTime"
        ],
        "type": "object",
        "properties": {
          "authenticationToken": {
            "type": "string",
            "description": "NemeStats unique identifier for the new User",
            "example": "some awesome token"
          },
          "authenticationTokenExpirationDateTime": {
            "type": "string",
            "description": "The date and time (ISO-8601 format) in which the authentication token will expire.\nUpon expiration, subsequent requests to the API using this token will return a 401 Not Authorized.",
            "example": "9/3/2016 4:47:10 PM"
          }
        },
        "example": {
          "authenticationToken": "some awesome token",
          "authenticationTokenExpirationDateTime": "2016-09-03T16:47:10.387"
        }
      },
      "CreateANewUserSessionRequest7": {
        "title": "Create a new User Session request7",
        "required": [
          "userName",
          "password"
        ],
        "type": "object",
        "properties": {
          "userName": {
            "type": "string",
            "example": "some invalid username"
          },
          "password": {
            "type": "string",
            "example": "some invalid password"
          }
        }
      },
      "CreateANewUserSession401Response": {
        "title": "Create a new User Session 401 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Invalid credentials provided."
          }
        },
        "example": {
          "message": "Invalid credentials provided."
        }
      },
      "PlayedGames": {
        "title": "Played Games",
        "required": [
          "playedGameId",
          "gameDefinitionId",
          "gameDefinitionName",
          "gamingGroupId",
          "gamingGroupName",
          "datePlayed",
          "dateLastUpdated",
          "playerGameResults"
        ],
        "type": "object",
        "properties": {
          "playedGameId": {
            "type": "number",
            "description": "NemeStats unique identifier for the Played Game."
          },
          "gameDefinitionId": {
            "type": "number",
            "description": "NemeStats unique identifier for the Game Definition of the Played Game."
          },
          "gameDefinitionName": {
            "type": "string",
            "description": "Name of the Game Definition."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "NemeStats unique identifier of the Gaming Group against which this Played Game was recorded."
          },
          "gamingGroupName": {
            "type": "string",
            "description": "Name of the Gaming Group."
          },
          "datePlayed": {
            "type": "string",
            "description": "The date that the Played Game was recorded in yyyy-MM-dd format (e.g. 2015-05-013)."
          },
          "dateLastUpdated": {
            "type": "string",
            "description": "The date that the Played Game was last updated in yyyy-MM-dd format (e.g. 2015-05-013). This will usually match the datePlayed unless the Played Game was updated at a later date."
          },
          "playerGameResults": {
            "type": "object",
            "description": "Represents all of the data related to a particular Player's performance in a particular Played Game.\n+ playerId (number, required) - NemeStats unique identifier for the Player.\n+ playerName (string, required) - The name of the Player.\n+ playerActive (bool, required) - Boolean value indicating whether the player is currently Active.\n+ gameRank (number, required) - The corresponding integer rank of the Player in this Played Game. A rank of 1 means the Player got first place, 2 means second place, and so on.\n+ pointsScored (number, optional) - Decimal number of points the Player scored in the Played Game.\n+ nemeStatsPointsAwarded (number, required) - The number of NemeStats Points awarded to the Player for their respective rank in the Played Game.\n+ gameDurationBonusNemePoints  (number, required) - The number of bonus NemeStats Points awarded due to the BoardGameGeek average Play Time of this Game Definition.\n+ gameWeightBonusNemePoints (number, required) - The number of bonus NemeStats Points awarded due to the BoardGameGeek Weight of this Game Definition.\n+ totalNemeStatsPointsAwarded (number, required) - The total number of NemeStats Points awarded including all bonus points."
          },
          "boardGameGeekObjectId": {
            "type": "number",
            "description": "Board Game Geek unique identifier for the Game Definition."
          },
          "notes": {
            "type": "string",
            "description": "User-entered notes about the game."
          },
          "applicationLinkages": {
            "type": "object",
            "description": "Represents a unique identifier for an external application that also stores a representation of this Played Game. For example, if a Played Game is also in BoardGameGeek, the client could set an applicationLinkage with the applicationName = \"BGG\" and the entityId = \"1399193\".\n+ applicationName (string, required) - Unique identifier for an external application which also holds a representation of this play. Use \"BGG\" for BoardGameGeek and \"BGStats\" for Board Game Stats. Other applications can use different application names, so long as they are unique.\n+ entityId (string, required) - Unique identifier within the external application. For example, BoardGameGeek has an \"id\" value for each play which could be passed in this field."
          }
        }
      },
      "Request10": {
        "title": "request10",
        "required": [
          "gameDefinitionId",
          "playerRanks"
        ],
        "type": "object",
        "properties": {
          "gameDefinitionId": {
            "type": "number",
            "description": "NemeStats unique identifier for the Game Definition (e.g. Race For the Galaxy's unique Id) of the Played Game."
          },
          "playerRanks": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "A collection of PlayerRank objects specifying the game rank and points scored for each Player. See below table for details."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group where the Played Game will be logged. If no gamingGroupId is specified, the Played Game will be recorded under the default Gaming Group of the currently logged in User."
          },
          "datePlayed": {
            "type": "string",
            "description": "The date the game was played in yyyy-MM-dd format (e.g. 2015-04-29)."
          },
          "notes": {
            "type": "string",
            "description": "Any notes or comments that the User wants to record about the game for future reference."
          },
          "applicationLinkages": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "A collection of ApplicationLinkage objects specifying external identifiers for the Played Game in other systems. Should always have at least one ApplicationLinkage with applicationName = \"NemeStats\" and entityId = \"{NemeStats Played Game Id}\"."
          }
        }
      },
      "CreateANewPlayedGameResponse": {
        "title": "Create a new Played Game response",
        "required": [
          "playedGameId",
          "gamingGroupId",
          "nemeStatsUrl"
        ],
        "type": "object",
        "properties": {
          "playedGameId": {
            "type": "integer",
            "format": "int32",
            "example": 31995
          },
          "gamingGroupId": {
            "type": "integer",
            "format": "int32",
            "example": 9818
          },
          "nemeStatsUrl": {
            "type": "string",
            "example": "https://nemestats.com/PlayedGame/Details/31995"
          }
        },
        "example": {
          "playedGameId": 31995,
          "gamingGroupId": 9818,
          "nemeStatsUrl": "https://nemestats.com/PlayedGame/Details/31995"
        }
      },
      "CreateANewPlayedGame400Response": {
        "title": "Create a new Played Game 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "Request15": {
        "title": "request15",
        "required": [
          "playedGameId",
          "gameDefinitionId",
          "playerRanks"
        ],
        "type": "object",
        "properties": {
          "playedGameId": {
            "type": "number",
            "description": "NemeStats unique identifier for the Played Game to update."
          },
          "gameDefinitionId": {
            "type": "number",
            "description": "NemeStats unique identifier for the Game Definition (e.g. Race For the Galaxy's unique Id) of the Played Game."
          },
          "playerRanks": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "A collection of PlayerRank objects specifying the game rank and points scored for each Player. See below table for details."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group where the Played Game will be logged. If no gamingGroupId is specified, the Played Game will remain in the same Gaming Group."
          },
          "notes": {
            "type": "string",
            "description": "Any notes or comments that the User wants to record about the game for future reference. This will overwrite any existing notes -- even if the new value would be empty."
          },
          "applicationLinkages": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "A collection of ApplicationLinkage objects specifying external identifiers for the Played Game in other systems. Should always have at least one ApplicationLinkage with applicationName = \"NemeStats\" and entityId = \"{NemeStats Played Game Id}\"."
          }
        }
      },
      "UpdateAnExistingPlayedGame400Response": {
        "title": "Update an existing Played Game 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "GetPlayedGames400Response": {
        "title": "Get Played Games 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "DeleteAnExistingPlayedGame400Response": {
        "title": "Delete an existing Played Game 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "Players": {
        "title": "Players",
        "required": [
          "playerId",
          "playerName",
          "gamingGroupId",
          "active"
        ],
        "type": "object",
        "properties": {
          "playerId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Player."
          },
          "playerName": {
            "type": "string",
            "description": "The name of the Player in this Gaming Group."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group to which this Player belongs."
          },
          "active": {
            "type": "boolean",
            "description": "Flag indicating whether the Player is active or inactive. Inactive Players will not show up in the NemeStats website."
          },
          "nemesisPlayerId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Player who is this Player's Nemesis. The Nemesis is the Player who has the highest win percentage vs. this Player and who has won at least 3 games."
          }
        }
      },
      "GetPlayersInGamingGroupResponse": {
        "title": "Get Players in Gaming Group response",
        "required": [
          "players"
        ],
        "type": "object",
        "properties": {
          "players": {
            "type": "array",
            "items": {
              "type": "object",
              "example": [
                {
                  "playerName": "Anna Viko",
                  "playerId": 789,
                  "active": "true",
                  "currentNemesisPlayerId": 456,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/789"
                },
                {
                  "playerName": "Chris Konnel",
                  "playerId": 456,
                  "active": "true",
                  "currentNemesisPlayerId": 456,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/456"
                },
                {
                  "playerName": "The Destroyer",
                  "playerId": 111,
                  "active": "true",
                  "currentNemesisPlayerId": null,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/111"
                },
                {
                  "playerName": "Herb",
                  "playerId": 112,
                  "active": "true",
                  "currentNemesisPlayerId": 789,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/112"
                },
                {
                  "playerName": "Marvin",
                  "playerId": 745,
                  "active": "false",
                  "currentNemesisPlayerId": null,
                  "nemeStatsUrl": "https://nemestats.com/Player/Details/745"
                }
              ]
            },
            "description": ""
          }
        },
        "example": {
          "players": [
            {
              "playerName": "Anna Viko",
              "playerId": 789,
              "active": "true",
              "currentNemesisPlayerId": 456,
              "nemeStatsUrl": "https://nemestats.com/Player/Details/789"
            },
            {
              "playerName": "Chris Konnel",
              "playerId": 456,
              "active": "true",
              "currentNemesisPlayerId": 456,
              "nemeStatsUrl": "https://nemestats.com/Player/Details/456"
            },
            {
              "playerName": "The Destroyer",
              "playerId": 111,
              "active": "true",
              "currentNemesisPlayerId": null,
              "nemeStatsUrl": "https://nemestats.com/Player/Details/111"
            },
            {
              "playerName": "Herb",
              "playerId": 112,
              "active": "true",
              "currentNemesisPlayerId": 789,
              "nemeStatsUrl": "https://nemestats.com/Player/Details/112"
            },
            {
              "playerName": "Marvin",
              "playerId": 745,
              "active": "false",
              "currentNemesisPlayerId": null,
              "nemeStatsUrl": "https://nemestats.com/Player/Details/745"
            }
          ]
        }
      },
      "GetPlayersInGamingGroup400Response": {
        "title": "Get Players in Gaming Group 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "Request29": {
        "title": "request29",
        "required": [
          "playerName"
        ],
        "type": "object",
        "properties": {
          "playerName": {
            "type": "string",
            "description": "The name of the Player in this Gaming Group."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group where the Player will be created. If no gamingGroupId is specified, the Player will be created under the default Gaming Group of the currently logged in User."
          },
          "playerEmailAddress": {
            "type": "string",
            "description": "You may provide an email address for the new Player if you'd like to automatically send them an invitation to join your Gaming Group as a registered user."
          }
        }
      },
      "CreateANewPlayerResponse": {
        "title": "Create a new Player response",
        "required": [
          "playerId",
          "gamingGroupId",
          "nemeStatsUrl"
        ],
        "type": "object",
        "properties": {
          "playerId": {
            "type": "integer",
            "format": "int32",
            "example": 105156
          },
          "gamingGroupId": {
            "type": "integer",
            "format": "int32",
            "example": 51
          },
          "nemeStatsUrl": {
            "type": "string",
            "example": "https://nemestats.com/Player/Details/105156"
          }
        },
        "example": {
          "playerId": 105156,
          "gamingGroupId": 51,
          "nemeStatsUrl": "https://nemestats.com/Player/Details/105156"
        }
      },
      "CreateANewPlayer409Response": {
        "title": "Create a new Player 409 response",
        "required": [
          "message",
          "subErrorCode"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group. The existing playerId is '15490'."
          },
          "subErrorCode": {
            "type": "integer",
            "format": "int32",
            "example": 1
          }
        },
        "example": {
          "message": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group. The existing playerId is '15490'.",
          "subErrorCode": 1
        }
      },
      "CreateANewPlayer400Response": {
        "title": "Create a new Player 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "Request34": {
        "title": "request34",
        "type": "object",
        "properties": {
          "playerName": {
            "type": "string",
            "description": "The name of the Player in this Gaming Group."
          },
          "active": {
            "type": "boolean",
            "description": "Flag indicating whether the Player should be marked as active or inactive. Inactive Players will not show up in the NemeStats website."
          }
        }
      },
      "UpdateAnExistingPlayer400Response": {
        "title": "Update an existing Player 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
          }
        },
        "example": {
          "message": "A Player with name 'Some Player Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
        }
      },
      "GameDefinitions": {
        "title": "Game Definitions",
        "required": [
          "gameDefinitionId",
          "gamingGroupId",
          "gameDefinitionName",
          "active"
        ],
        "type": "object",
        "properties": {
          "gameDefinitionId": {
            "type": "number",
            "description": "NemeStats unique identifier for the given Game Definition."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group of the Game Definition."
          },
          "gameDefinitionName": {
            "type": "string",
            "description": "Name of the Game Definition (e.g. 'Monopoly) within the given Gaming Group."
          },
          "active": {
            "type": "boolean",
            "description": "Flag indicating whether or not the Game Definition is still active within the Gaming Group. Inactive Game Definitions will nto show up in the NemeStats website."
          },
          "boardGameGeekObjectId": {
            "type": "number",
            "description": "Board Game Geek unique identifier for the Game Definition. Used to conveniently cross reference with Board Game Geek."
          }
        }
      },
      "GetGameDefinitionsInGamingGroup400Response": {
        "title": "Get Game Definitions in Gaming Group 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "This action requires an X-Auth-Token header."
          }
        },
        "example": {
          "message": "This action requires an X-Auth-Token header."
        }
      },
      "Request41": {
        "title": "request41",
        "required": [
          "gameDefinitionName"
        ],
        "type": "object",
        "properties": {
          "gameDefinitionName": {
            "type": "string",
            "description": "The name of the Game Definition in this Gaming Group."
          },
          "gamingGroupId": {
            "type": "number",
            "description": "The NemeStats unique identifier for the Gaming Group where the Game Definition will be created. If no gamingGroupId is specified, the Game Definition will be created under the default Gaming Group of the currently logged in User."
          },
          "gameDefinitionDescription": {
            "type": "string",
            "description": "Description of the Game Definition."
          },
          "boardGameGeekObjectId": {
            "type": "number",
            "description": "The Board Game Geek unique identifier for the Game."
          }
        }
      },
      "CreateANewGameDefinitionResponse": {
        "title": "Create a new Game Definition response",
        "required": [
          "gameDefinitionId",
          "gamingGroupId",
          "nemeStatsUrl"
        ],
        "type": "object",
        "properties": {
          "gameDefinitionId": {
            "type": "integer",
            "format": "int32",
            "example": 105156
          },
          "gamingGroupId": {
            "type": "integer",
            "format": "int32",
            "example": 195
          },
          "nemeStatsUrl": {
            "type": "string",
            "example": "https://nemestats.com/GameDefinition/Details/105156"
          }
        },
        "example": {
          "gameDefinitionId": 105156,
          "gamingGroupId": 195,
          "nemeStatsUrl": "https://nemestats.com/GameDefinition/Details/105156"
        }
      },
      "CreateANewGameDefinition409Response": {
        "title": "Create a new Game Definition 409 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "A Game Definition with name 'Monopoly (1933)' already exists in this Gaming Group."
          }
        },
        "example": {
          "message": "A Game Definition with name 'Monopoly (1933)' already exists in this Gaming Group."
        }
      },
      "Request44": {
        "title": "request44",
        "type": "object",
        "properties": {
          "gameDefinitionName": {
            "type": "string",
            "description": "The name of the Game Definition in this Gaming Group."
          },
          "active": {
            "type": "boolean",
            "description": "Flag indicating whether the Game Definition should be marked as active or inactive. Inactive Game Definitions will not show up in the NemeStats website."
          }
        }
      },
      "UpdateAnExistingGameDefinition400Response": {
        "title": "Update an existing Game Definition 400 response",
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "A Game Definition with name 'Some Game Definition Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
          }
        },
        "example": {
          "message": "A Game Definition with name 'Some Game Definition Name That Already Exists In The Gaming Group' already exists in this Gaming Group."
        }
      }
    }
  }
}
