body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.gamename {
   
}

.firstplace {
    color: darkgreen;
    font-weight: bold;
}

.sortable { list-style-type: none; margin: 0; padding: 0; }

ul input[type=text] { width:25px }

.homelogo 
{ 
    background: url(/Content/Images/NemeStats-White.png) no-repeat top left;
    display: block;
    width: 150px;
    text-indent: -9999px;
}

.margin-bottom-xs {
    margin-bottom: 0.5em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  

.margin-bottom-sm {
    margin-bottom: 1em;
} 

.margin-bottom-md {
    margin-bottom: 1.5em;
}

.margin-bottom-lg {
    margin-bottom: 2em;
}

.line-bottom-sm {
    border-bottom:#eee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.line-bottom-md {
    border-bottom:#eee;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.font-size-xs {
    font-size: 0.5em;
}

.font-size-sm {
    font-size: 1.5em;
}

.font-size-md {
    font-size: 2.5em;
}

.font-size-lg {
    font-size: 3.5em;

}

.line-bottom-sm:last-child {
    border-bottom-style: hidden;
    border-bottom-width: 0;
}