.neme-points-ico {
  color: #2C3E50;
  font-size: 10px; }
  .neme-points-ico .letter {
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fa.fa-slashed:after {
  position: relative;
  content: "/";
  font-weight: 700;
  font-size: 1.7em;
  left: -17px;
  top: 2px; }

.gameDefinitionsList .no-bgg-ico {
  font-size: 40px; }

.gameDefinitionsList .bgg-link {
  font-weight: bold;
  height: 100px;
  overflow: hidden; }
  .gameDefinitionsList .bgg-link .bgg-thumbnail {
    width: auto;
    height: 100%;
    max-width: 200px;
    min-height: 100px; }

