@import "variables.scss";

.neme-points-ico {
    color: $header-background;
    font-size: 10px;
    .letter {
        color: white;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}
