@import "variables.scss";

.neme-points-ico {
    color: $header-background;
    font-size: 10px;

    .letter {
        color: white;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.fa {
    &.fa-slashed {
        &:after {
            position: relative;
            content: "/";
            font-weight: 700;
            font-size: 1.7em;
            left: -17px;
            top: 2px;
        }
    }
}

.gameDefinitionsList {
    .no-bgg-ico {
        font-size: 40px;
    }

    .bgg-link {
        font-weight: bold;
        height: 100px;
        overflow: hidden;

        .bgg-thumbnail {
            width: auto;
            height: 100%;
            max-width: 200px;
            min-height: 100px;
        }
    }
}
