@using PagedList;
@using PagedList.Mvc

@model IPagedList<UI.Models.Players.PlayerAchievementWinnerViewModel>

    @{
    ViewBag.Title = "NemeStats Recent Achievements Unlocked";
    Layout = MVC.Shared.Views._BaseLayout;
    }

<div class="container">
    <h2 class="page-header">Recently achievement unlocked <a class="btn btn-primary btn-xs" href="@Url.Action(MVC.Achievement.Index())">view all</a></h2>
    @Html.Partial(MVC.Achievement.Views._RecentAchievementsUnlocked, Model)
</div>

    @Html.PagedListPager(Model, page => Url.Action("RecentAchievementsUnlocked", new { page }) )
