@using PagedList;
@using PagedList.Mvc

@model IPagedList<UI.Models.Players.PlayerAchievementWinnerViewModel>

    @{
        ViewBag.Title = "Recently Unlocked Achievements";
        ViewBag.Description = $"View the most recently awarded Achievements on the website -- across all Gaming Groups.";
        Layout = MVC.Shared.Views._BaseLayout;
    }

<div class="container">
    <h2 class="page-header">Recently Unlocked Achievements <a class="btn btn-primary btn-xs" href="@Url.Action(MVC.Achievement.Index())">view all</a></h2>
    @Html.Partial(MVC.Achievement.Views._RecentAchievementsUnlocked, Model)
</div>

    @Html.PagedListPager(Model, page => Url.Action("RecentAchievementsUnlocked", new { page }) )
