@import "custom-fontawesome-variables.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

//CUSTOM ICONS
$icon-font-name: "icomoon";
$custom-font-path: $fa-font-path;

/* Font Declaration
====================*/

@font-face {
    font-family: 'NemeStats-Icons';
    src: url('#{$custom-font-path}/#{$icon-font-name}.eot');
    src: url('#{$custom-font-path}/#{$icon-font-name}.eot?#iefix') format('embedded-opentype'), url('#{$custom-font-path}/#{$icon-font-name}.woff') format('woff'), url('#{$custom-font-path}/#{$icon-font-name}.ttf') format('truetype'), url('#{$custom-font-path}/#{$icon-font-name}.svg#icomoon') format('svg');
}

[class^='ns-icon-'] {
    font-family: 'NemeStats-Icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1 !important;
    display: inline-block;
    padding: 0.3em 0;
    margin: 0em 0.1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.fa-2x {
        font-size: 2em;
    }
}

/* Icon Mapping
================*/

.ns-icon-former-nemesis:before {
    content: "\e901";
}

.ns-icon-nemesis:before {
    content: "\e902";
}

.ns-icon-group:before {
    content: "\e903";
}

.ns-icon-one:before {
    content: "\e904";
}

.ns-icon-former-champion:before {
    content: "\e905";
}

.ns-icon-clipboard-move:before {
    content: "\e906";
}

.ns-icon-dice:before {
    content: "\e907";
}

.ns-icon-minion:before {
    content: "\e908";
}

.ns-icon-medal:before {
    content: "\e909";
}

.ns-icon-punisher:before {
    content: "\e90a";
}

.ns-icon-butterfly:before {
    content: "\e90b";
}

.ns-icon-eye-minion {
    margin-left: 0;

    &:before {
        content: "\e90c";
    }
}

.ns-icon-dice-chucker:before {
    content: "\e900";
}

.ns-icon-civbuilder:before {
    content: "\e911";
}

.ns-icon-brains:before {
    content: "\e90f";
}

.ns-icon-mastershuffler:before {
    content: "\e910";
}

.ns-icon-categorized:before {
    content: "\e90e";
}

.ns-icon-wargamer:before {
    content: "\e90d";
}

.ns-icon-deckbuilder:before {
    content: "\e912";
}

.ns-icon-mapbuilder:before {
    content: "\e913";
}

.ns-icon-meeple:before {
    content: "\e914";
}