@helper ShowGameResult(BusinessLogic.Models.PlayerGameResult playerGameResult, bool showGameName){
    <span class="gamename">
    @if(showGameName)
    {
        @playerGameResult.PlayedGame.GameDefinition.Name
    }else
    {
        @playerGameResult.Player.Name
    }
    </span> <text>- </text>
    <span class="gamerank">
    @switch (playerGameResult.GameRank)
    {
        case 1:
            <span class="firstplace">1st Place</span>
            break;
        case 2:
        <span class="secondplace">2nd Place</span>
            break;
        case 3:
        <span class="thirdplace">3rd Place</span>
            break;
        case 4:
        <span class="fourthplace">4th Place</span>
            break;
        default:
        <span>BIG LOSER</span>
            break;
    }
</span><text> - (</text>@playerGameResult.GordonPoints<text> pts.)</text>

}