@import "nemestats-variables.scss";
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_alerts.scss';

$bronze-border-color: darken($bronze-achievement-color,15%);
$silver-border-color: darken($silver-achievement-color,15%);
$gold-border-color: darken($gold-achievement-color,15%);

$bronze-text-color: darken($bronze-achievement-color,35%);
$silver-text-color: darken($silver-achievement-color,35%);
$gold-text-color: darken($gold-achievement-color,15%);

.achievements {
    display: inline-block;
}

.achievement-list {
    display: inline-block;
    padding: 40px 40px 20px 40px;

    .block {
        display: inline-block;
        width: 100px;
        padding: 5px;

        .title {
            display: flex;
            margin-top: 10px;
        }
    }

    .achievement {
        margin-right: 10px;
    }
}

.achievement {
    position: relative;
    top: -1px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;


    &.bronze {
        background-color: $bronze-border-color;

        .circle {
            background-color: $bronze-achievement-color;
        }

        .content {
            color: $bronze-text-color;
            font-weight: bold;
        }
    }

    &.silver {
        background-color: $silver-border-color;

        .circle {
            background-color: $silver-achievement-color;
        }

        .content {
            color: $silver-text-color;
            font-weight: bold;
        }
    }

    &.gold {
        background-color: $gold-border-color;

        .circle {
            background-color: $gold-achievement-color;
        }

        .content {
            color: $gold-text-color;
            font-weight: bold;
        }
    }

    .circle {
        width: 20px;
        height: 20px;
        margin: 3px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
    }

    &.big {


        .circle {
            width: 65px;
            height: 65px;
            margin: 5px;
        }

        .content {
            font-size: 40px;

            > span {
                line-height: 67px;
            }
        }
    }

    &.medium {
        .circle {
            width: 30px;
            height: 30px;
            margin: 5px;
        }

        .content {
            font-size: 22px;

            > span {
                line-height: 0 !important;

                &.ns-icon-bgg {
                    font-size: 25px;
                    padding: 15px 0 0 0;
                }

                &[class^='ns-icon-'] {
                    line-height: 1px !important;
                }
            }
        }
    }
}


.playerachievement {
    ul {
        text-align: center;
        margin-top: 20px;

        li {
            border: 0;
        }
    }

    .progress {
        height: 25px;

        .progress-value {
            position: absolute;
            right: 0;
            left: 0;
            top: 2px;
            font-weight: bold;
        }


        .progress-bar {
            min-width: 1em;
            line-height: 25px;

            &.bronze {
                background-color: $bronze-border-color;
            }

            &.silver {
                background-color: $silver-border-color;
            }

            &.gold {
                background-color: $gold-border-color;
            }
        }
    }
}

.achievementlist {
    .block {
        text-align: center;
        padding: 30px;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        margin-top: 20px;

        .name {
            min-height: 40px;
        }
    }
}

.ui-pnotify {
    &.bronze {
        .alert {

            @include alert-variant($bronze-achievement-color, $bronze-border-color, $bronze-text-color);
        }
    }

    &.silver {
        .alert {

            @include alert-variant($silver-achievement-color, $silver-border-color, $silver-text-color);
        }
    }

    &.gold {
        .alert {

            @include alert-variant($gold-achievement-color, $gold-border-color, $gold-text-color);
        }
    }
}

.nemepoints-achievement {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &:before {
        content: "N";
    }
}

@media only screen and (min-width: $screen-md-min) {
    .achievement-head {
        width: $achievementhead-width;
    }
}