@import "nemestats-variables.scss";

@media only screen and (max-width: $screen-sm-max) {

    .flip-scroll {

        .cf:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        * {
            html .cf, &:first-child + html .cf {
                zoom: 1;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            display: block;
            position: relative;

            caption {
                width: 220px;
            }
        }

        th, td {
            margin: 0;
            vertical-align: top;
        }

        th {
            text-align: right !important;
            display: block !important;
        }

        thead {
            display: block;
            float: left;
            border-right: 1px solid #babcbf;
        }

        tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;

            tr {
                border-left: 1px solid #babcbf;

                &:first-child {
                    border-left: 0;
                }
            }
        }

        thead tr {
            display: block;
        }

        tbody tr {
            display: inline-block;
            vertical-align: top;
        }

        td {
            display: block;
            min-height: 1.25em;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }

        th:last-child, td:last-child {
            border-bottom: 1px solid #babcbf;
        }
    }

    /* sort out borders */
}