@import "nemestats-variables.scss";

.filter {
    display: inline-block;

    .control-block {
        float: left;
        margin-right: 10px;

        @media (max-width: $screen-md-max) {
              margin-top: 10px;
        }

        button {
            margin-top: 25px;
        }
    }
}

#neme-tab {
    ul.nav.nav-pills {
        a {
            border-radius: 0;
        }
    }

    .tab-content {
        .tab-pane {
            .panel {
                border-radius: 0;
                .panel-heading {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }

            .loader {
                margin-top: 200px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
