@import "nemestats-variables.scss";

.home-body-container{
    margin-bottom: $footer-height;

    background-color: #fff;
    width: 100%;
    padding: 0 20px;

    .panel-heading {
        font-size: $font-size-h3;
    }
}
.home-container {
    background-color: #eee;


    .home-banner {
        background: url(/Content/Images/Home/Banner.jpg) no-repeat center center;
        background-size: cover;

        .cta-wrapper {
            padding: 20px 0 40px 0;

            .subtitle {
                .text {
                    font-family: "Audiowide";
                    font-size: 60px;
                    color: $subtitle-color;
                    margin-top: 40px;
                    text-shadow: 0 1px 2px #111111;

                    @media (max-width: $screen-sm-max) {
                        margin-top: 20px;
                        text-align: center;
                        font-size: 30px;
                    }
                }

                img {
                    padding-top: 40px;
                    height: 150px;

                    @media (max-width: $screen-sm-max) {
                        display: block;
                        margin: 0 auto;
                        height: 100px;
                        padding-top: 20px;
                    }
                }
            }

            .panel {
                margin-top: 40px;
                text-align: center;


                .current-player-stats {

                    .panel {
                        margin-top: 10px;
                    }

                    .panel-heading{
                        font-size: 14px;
                    }

                    .btn-action {
                        width: 100%;
                        font-size: 22px;

                        @media (max-width: $screen-sm-max) {
                            font-size: 16px;
                        }
                    }

                    .last-game-played {
                        text-align: left;
                        padding: 15px 0;

                        @media (max-width: $screen-sm-max) {
                            text-align: center;
                        }

                        .image-col {
                            text-align: center;

                            .bgg-thumbnail {
                                width: auto;
                                max-height: 100px;
                                max-width: 130px;

                                @media (max-width: $screen-lg-min) {
                                    max-width: 100px;
                                }

                                @media (max-width: $screen-sm-max) {
                                    text-align: center;
                                    min-height: 100px;
                                    max-width: 175px;
                                }
                            }
                        }
                    }


                    .stat-value {
                        font-size: 28px;
                    }
                }

                .social-login {

                    button {
                        width: 100%;
                        font-size: 22px;

                        i.fa {
                            margin-right: 10px;
                        }
                    }
                }

                .common-login {
                    background-color: #eee;

                    .or {
                        position: relative;
                        left: 50%;
                        margin-left: -15px;
                        top: -15px;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        line-height: 30px;
                        color: #4e525b;
                        font-size: 14px;
                        font-weight: $font-weight-bold;
                        background-color: white;
                        -webkit-border-radius: 500px;
                        -webkit-background-clip: padding-box;
                        -moz-border-radius: 500px;
                        -moz-background-clip: padding;
                        border-radius: 500px;
                        -webkit-background-clip: padding-box;
                        background-clip: padding-box;
                        z-index: 2;
                    }

                    .title {
                        font-size: $font-size-h4;
                        margin-bottom: 20px;
                        margin-top: -10px;
                    }

                    .form-group {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

.home-features {
    padding: 0 50px;

    .title {
        text-align: center;
        font-size: $font-size-h3;
        margin: 15px 0;
    }

    .description {
        margin-bottom: 15px;

        .text {
            min-height: 100px;

            ul {
                padding: 0;
            }
        }

        button {
            font-size: 14px;
            margin-top: 10px;
        }

        .imgs {
            text-align: center;

            img {
                width: 65px;
                margin-top: 10px;
            }
        }
    }
}
