@import "nemestats-variables.scss";

@media (max-width: $screen-sm-max) {
    .home-page-icon {
        font-size: 4em;
    }

    .leftItem {
        display: inline-block;
        max-width: 90px;
        overflow: hidden;
    }
}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

    .navbar-right {
        li {
            max-width: 170px;
        }
    }

    .navbar-nav {
        li {
            a {
                padding: 20px 8px;
            }
        }
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

    .navbar-nav > li > a {
        font-size: 12px;
        padding-right: 5px;
    }

    .navbar-right {
        li {
            max-width: 85px;
        }
    }
}

@media (max-width: $screen-xs-max) {

    .navbar-right {
        li {
            max-width: none;
        }
    }
}

.game-player-statistics {
    .flip-scroll {
        tr {
            width: 120px;
            text-align: center;
        }
    }
}

&.flip-scroll {
    @media only screen and (max-width: $screen-sm-max) {

        .badges-head {
            height: $badges-height;
        }

        .bgg-link-head {
            height: $gamethumbnail-height;
        }

        .edit-head {
            height: $edit-height;
        }

        .avgpoints-head {
            height: $avgpoints-height;
        }


        .name-head {
            height: $gamename-height;
        }

        .nemesis-head {
            height: $nemesis-height;
            width: 100px;
            padding-right: 0;
        }

        .result-head {
            height: $result-height;
        }

        .wonpercentage-head {
            height: 73px;
            padding-top: 40px;
        }

        .badges-col {
            height: $badges-height;
        }

        .avgpoints-col {
            height: $avgpoints-height;
        }

        .name-col {
            height: $gamename-height;
            max-width: $gamethumbnail-maxwidht;
            overflow: hidden;

            a {
                white-space: normal;
                word-break: break-word;
            }
        }

        .edit-col {
            height: $edit-height;
            text-align: center;
        }

        .plays-col {
            text-align: center;
        }

        .nemesis-col {
            height: $nemesis-height;
        }

        .champion-col {
            text-align: center;
        }

        .result-col {
            height: $result-height;
            overflow-y: auto;
            overflow-x: hidden;

            .game-result {
                .alert {
                    white-space: normal;
                    max-width: $gamethumbnail-maxwidht;
                }
            }
        }

        .achievement-head {
            height: 56px;
            line-height: 42px;
        }
    }
}
