@import "nemestats-variables.scss";

@media (max-width: $screen-sm-max) {
    .home-page-icon {
        font-size: 4em;
    }

    .leftItem {
        display: inline-block;
        max-width: 90px;
        overflow: hidden;
    }
}


&.flip-scroll {
    @media only screen and (max-width: $screen-sm-max) {

        .bgg-link-head {
            height: $gamethumbnail-height;
        }

        .edit-head {
            height: $edit-height;
        }

        &.gameDefinitionsList {
            .edit-head {
                height: $edit-height - 8;
            }
        }

        .name-head {
            height: $gamename-height;
        }

        .nemesis-head {
            height: $nemesis-height;
            width: 100px;
            padding-right: 0;
        }

        .result-head {
            height: $result-height;
        }

        .name-col {
            height: $gamename-height;
            max-width: $gamethumbnail-maxwidht;
            overflow: hidden;

            a {
                white-space: normal;
                word-break: break-word;
            }
        }

        .edit-col {
            height: $edit-height;
            text-align: center;
        }

        .plays-col {
            text-align: center;
        }

        .nemesis-col {
            height: $nemesis-height;
        }

        .champion-col {
            text-align: center;
        }

        .result-col {
            height: $result-height;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}
