@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../node_modules/font-awesome/scss/variables.scss';
@import '../imports/custom-bootstrap-variables.scss';

//COLORS
/*$header-background-color: #2C3E50;*/
$team-win-color: $brand-success;
$team-loss-color: $brand-danger;
$input-validation-error-color: $brand-danger;
$google-background-color: #2196F3;
$twitter-background-color: #6cadde;
$subtitle-color: #B2804D;

$gold-achievement-color: #FFDF00;
$silver-achievement-color: #E0E0DD;
$bronze-achievement-color: #F5CF87;

//SIZES
$gamename-height: 70px;
$gamethumbnail-maxwidht: 200px;
$gamethumbnail-height: 100px;
$nemesis-height: 70px;
$result-height: 190px;
$edit-height: 52px;
$badges-height: 37px;
$avgpoints-height: 50px;

//WEIGHTS
$font-weight-bold: 700;
