@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../node_modules/font-awesome/scss/variables.scss';
@import '../imports/custom-bootstrap-variables.scss';

//COLORS
$header-background-color: #2C3E50;
$team-win-color: green;
$team-loss-color: red;
$input-validation-error-color: #b94a48;

//SIZES
$gamename-height: 70px;
$gamethumbnail-maxwidht: 200px;
$gamethumbnail-height: 100px;