@import "nemestats-variables.scss";



.game-result {
    .total {
        font-size: 24px;
        cursor: pointer;
    }

    .rank {
        .value {
            font-family: $font-family-sans-serif !important;
        }
    }

   
}
