@import "nemestats-variables.scss";

//PvP progressbars
.progress {
    height: 20px;
    margin-bottom: 0;

    .progress-bar {
        font-size: 18px;
        line-height: 18px;

        @media (max-width: $screen-sm-max) {
            font-size: 14px;
            line-height: 20px;
        }


        &.won {
            background-color: $brand-success;
            position: relative;

            &:before {
                content: ' ';
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 0;
                border-color: transparent #ffffff transparent transparent;
            }

            &:after {
                content: ' ';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 10px 10px;
                border-color: transparent transparent #ffffff transparent;
            }
        }

        &.lost {
            background-color: $brand-danger;
            position: relative;

            &:before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 0;
                border-color: #ffffff transparent transparent transparent;
            }

            &:after {
                content: ' ';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 0 10px;
                border-color: transparent transparent transparent #ffffff;
            }
        }

        span {
            margin-left: 5px;
        }
    }
}

.game-player-statistics {
    th {
        text-align: center;
    }
}

.achievements {
    display: inline-block;
}

.achievement-list {
    display: inline-block;
    padding: 40px;

    .achievement {
        margin-right: 10px;
    }
}

.achievement {
    position: relative;
    top: -1px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;


    &.bronze {
        background-color: darken($bronze-achievement-color,15%);

        .circle {
            background-color: $bronze-achievement-color;
        }

        .content {
            color: darken($bronze-achievement-color,35%);
            font-weight: bold;
        }
    }

    &.silver {
        background-color: darken($silver-achievement-color,15%);

        .circle {
            background-color: $silver-achievement-color;
        }

        .content {
            color: darken($silver-achievement-color,35%);
            font-weight: bold;
        }
    }

    &.gold {
        background-color: darken($gold-achievement-color,7%);

        .circle {
            background-color: $gold-achievement-color;
        }

        .content {
            color: darken($gold-achievement-color,15%);
            font-weight: bold;
        }
    }

    .circle {
        width: 20px;
        height: 20px;
        margin: 3px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
    }

    &.big {
        .circle {
            width: 65px;
            height: 65px;
            margin: 5px;
        }

        .content {
            font-size: 40px;

            > span {
                line-height: 67px;
            }
        }
    }
}
