@import "nemestats-variables.scss";

body {
    padding-top: 50px;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-bottom: $footer-height;
}


footer {
    height: $footer-height;
    color: #fff;
    background-color: $brand-primary;
    padding: 25px;
    z-index: 999;

    &.bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    span {
        top: 10px;
    }
}

a[name] {
    padding-top: 50px;
    margin-top: -50px;
    display: inline-block;
}

/* Set width on the form input elements since they're 100% wide by default */

input, select {
    max-width: 280px;
}

/* styles for validation helpers */

.field-validation-error {
    color: $input-validation-error-color;
}

.field-validation-valid {
    display: none;
}

input {
    &.input-validation-error {
        border: 1px solid $input-validation-error-color;
    }

    &[type="checkbox"].input-validation-error {
        border: 0 none;
    }
}

.validation-summary-errors {
    color: $input-validation-error-color;
}

.validation-summary-valid {
    display: none;
}

.firstplace {
    color: darken($team-win-color,10%);
    font-weight: $font-weight-bold;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul input[type=text] {
    width: 25px;
}

.homelogo {
    background: url(/Content/Images/NemeStats-White.png) no-repeat top left;
    display: block;
    width: 150px;
    text-indent: -9999px;
}

.margin-bottom-xs {
    margin-bottom: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.margin-bottom-sm {
    margin-bottom: 1em;
}

.margin-bottom-md {
    margin-bottom: 1.5em;
}

.margin-bottom-lg {
    margin-bottom: 2em;
}

.margin-left-sm {
    margin-left: 1em;
}

.margin-left-md {
    margin-left: 1.5em;
}

.margin-left-lg {
    margin-left: 2em;
}

.margin-sm {
    margin: 1em;
}

.margin-md {
    margin: 1.5em;
}

.margin-lg {
    margin: 2em;
}

.line-bottom-sm {
    border-bottom: #eee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.line-bottom-md {
    border-bottom: #eee;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.font-size-xs {
    font-size: 0.5em;
}

.font-size-sm {
    font-size: 1.5em;
}

.font-size-md {
    font-size: 2.5em;
}

.font-size-lg {
    font-size: 3.5em;
}

.line-bottom-sm:last-child {
    border-bottom-style: hidden;
    border-bottom-width: 0;
}

/*Customize the carousel*/

/* Carousel base class */

.carousel {
    background-color: #eee;
}

.carousel-caption {
    color: black;
    position: inherit;
    text-shadow: none;
}

/* Declare heights because of positioning of img element */

.carousel .item {
    min-height: 260px;
    background-color: #eee;
    margin-bottom: 10px;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.fl-clear {
    clear: both;
}

/* tablets and desktops */
@media (min-width: 481px) {
    .home-page-icon {
        font-size: 8em;
    }
}

.push-30 {
    margin-top: 30px;
}

.editable-title {
    padding: 5px;
    cursor: pointer;

    &:hover {
        background: #ddd;
        border-radius: 4px;
    }
}

.autocomplete-loading {
    background: #fff url('/Content/Images/spinner.gif') no-repeat right center;
}

.leftItem {
    display: inline-block;
    /*max-width: 120px;*/
    overflow: hidden;
    padding: 5px 0 0 3px;

    span {
        display: inline-block;
        line-height: 30px;
        white-space: nowrap;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.rightItem {
    display: inline-block;
    padding: 7px 3px 0 0;
}

.playerRank {
    height: 28px;
    width: 30px !important;
    border-radius: 5px;
    border-color: #18bc9c !important;
    border-width: 3px;
    text-align: center;
}

.playerItem {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: $brand-primary;
    max-width: 380px;
    margin: 8px;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    white-space: nowrap;
    margin-left: 0px;

    button {
        color: $brand-primary;
    }

    input[type="text"] {
        color: $brand-primary;
        border-color: $brand-primary;
    }
}

.gaming-group-name {
    min-width: 95%;
    max-width: 95%;
}

.panel-text-vertical-center {
    line-height: 43px;
}

a:not(.btn), table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

a {
    &:not(.btn):hover {
        text-decoration: underline;
    }

    &.navbar-brand:hover {
        text-decoration: none;
    }
}

table > thead :hover {
    background-color: none !important;
}

h3 > a {
    font-size: smaller;
}

.gameResult-teamLoss {
    color: $team-loss-color;
}

.gameResult-teamWin {
    color: $team-win-color;
}

.rank-item {
    font-size: 26px;
}

.upvote-count {
    color: $team-win-color;
    font-weight: $font-weight-bold;
}

.downvote-count {
    color: $team-loss-color;
    font-weight: $font-weight-bold;
}

button > i.fa {
    font-size: 20px;
}

.panel > i.fa {
    line-height: 36;
}


.navbar-brand {
    padding: 10px;

    img {
        width: 120px;
    }
}

.navbar-right {
    li {
        max-width: 250px;

        a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


.nemepoints-breakdown {
    a {
        font-size: 11px;
        text-decoration: underline;
    }
}




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


#aboutbadges {
    .badgeico {
        text-align: center;
        font-size: 20px;
    }
}

//DRAGULA
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
