@import "nemestats-variables.scss";

.neme-points-ico {
    color: $header-background-color;
    font-size: 10px;

    .letter {
        color: white;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}


#player-details {
    .gameDefinitionsList {
        @media only screen and (max-width: $screen-sm-max) {
            &#flip-scroll {
                .badges-head {
                    padding: 5px;
                }

                .badges-col {
                    line-height: 0;
                    height: 31px;
                }
            }
        }

        .badges-col {
            width: 20px;
            line-height: $gamethumbnail-height;
        }

        .bgg-link-col {
            text-align: left;
        }
    }
}


.player-statistics {
    .fa {
        &.fa-trophy {
            &.fa-slashed {
                &:after {
                    position: relative;
                    content: "/";
                    font-weight: 700;
                    font-size: 1.7em;
                    left: -17px;
                    top: 2px;
                }
            }
        }
    }
}



.gameDefinitionsList {

    .fa {
        &.fa-trophy {
            &.fa-slashed {
                &:after {
                    position: relative;
                    content: "/";
                    font-weight: 700;
                    font-size: 1.6em;
                    top: -21px;
                }
            }
        }
    }


    .edit-col {
        text-align: center;
    }

    .no-bgg-ico {
        font-size: 40px;
    }


    .bgg-link-col {
        font-weight: bold;
        height: $gamethumbnail-height;
        overflow: hidden;
        text-align: center;
        max-width: $gamethumbnail-maxwidht;

        .bgg-thumbnail {
            width: auto;
            height: 100%;
            min-height: $gamethumbnail-height;
        }
    }
}
