<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RollbarSharp" version="0.3.5.0" targetFramework="net452" />
  <package id="StructureMap" version="4.4.2" targetFramework="net452" />
  <package id="structuremap.web" version="4.0.0.315" targetFramework="net452" />
  <package id="System.Configuration.Abstractions" version="2.0.2.26" targetFramework="net452" />
  <package id="UniversalAnalyticsMeasurementProtocolWrapper" version="1.5.0-rc" targetFramework="net452" />
  <package id="xsitemap" version="1.5.0.100" targetFramework="net452" />
</packages>