<div class="well home-features row">
    <div class="col-md-4">
        <div class="title">NemeStats lets you..</div>
        <div class="description">
            <div class="row text">
                <div class="col-sm-6">
                    <ul>
                        <li><b>Track</b> the results of board game plays</li>
                        <li>Record from your <b>mobile phone</b></li>
                        <li>Generate interesting <b>statistics</b></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li>Create <b>multiple Gaming Groups</b></li>
                        <li>Earn <b>Achievements and Badges</b></li>
                        <li><b>Export</b> your data</li>
                    </ul>
                </div>
            </div>
            <div>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#homefeature1"><span class="fa fa-info-circle"></span> more info</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="title">NemeStats is enhanced with...</div>
        <div class="description">
            <div class="text">
                <div class="row">
                    <div class="col-sm-6">
                        <b><a href="https://www.boardgamegeek.com/" target="_blank;">BoardGameGeek</a></b> integration
                        <div class="imgs">
                            <a href="https://www.boardgamegeek.com/" target="_blank;"><img src="~/Content/Images/Home/boardgamegeek.png" /></a>


                        </div>
                    </div>
                    <div class="col-sm-6">
                        <b><a href="https://itunes.apple.com/us/app/board-game-stats/id892542000" target="_blank;">Board Game Stats</a></b> on iOS
                        <div class="imgs">
                            <a href="https://itunes.apple.com/us/app/board-game-stats/id892542000" target="_blank;"><img src="~/Content/Images/Home/BGStats.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#homefeature2"><span class="fa fa-info-circle"></span> more info</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="title">NemeStats is will always be...</div>
        <div class="description">
            <div class="text">
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Completely <b>free</b></li>
                            <li><b>Without</b> advertisements</li>
                            <li>Open to feedback on <b><a href="https://nemestats-slack-invitation.herokuapp.com/" target="_blank;">Slack</a></b> and <a href="http://nemestats.idea.informer.com/proj/?mod=one" target="blank">idea.informer</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li><b>Open source</b> and on <b><a href="https://github.com/NemeStats/NemeStats" target="_blank;">GitHub</a></b></li>
                            <li>Actively developed on</li>
                            <li>Looking for contributors</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#homefeature3"><span class="fa fa-info-circle"></span> more info</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="homefeature1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    Track your board game plays
                </h3>
            </div>
            <div class="modal-body">
                <p>
                    <b>NemeStats</b> (pronounced "Nem-eh-stats") is a <b>completely free, mobile-friendly</b> website for tracking the results of board games.
                    Just <a href="@MVC.Account.Register()">register</a> and you'll automatically have a new Gaming Group created for you. Then set up the Players and Games you want to track, and you are all set to start logging plays!
                </p>
                <p>
                    NemeStats adds a meta layer of fun to your gaming. As you record your games you'll get interesting statistics like <b>number of games played, win/loss percentages, average number of Players per game, longest win streak</b>, etc. You can also earn <b>badges</b> for things like becoming a Champion of a game, becoming someone's Nemesis or Minion, etc. NemeStats also has a
                    <a href="@Url.Action(MVC.Home.AboutNemePoints())">NemePoints scoring system</a> which awards Players points based on their rank in the game, the number of Players in the game, as well as the difficulty and duration of the game.
                </p>
                <p>
                    Other features include:
                </p>
                <ul>
                    <li>A fully responsive, mobile-friendly website</li>
                    <li>Stats by Player, Game, date range, and within Gaming Groups</li>
                    <li>The ability to create multiple Gaming Groups (e.g. for home vs. work) and invite other Players to your Gaming Group</li>
                    <li>The capability to export all of your plays in case you want to do your own stats</li>
                    <li>A full-featured <a href="http://docs.nemestatsapiversion2.apiary.io/" target="_blank;">REST API documented on Apiary.io</a> in case you are interested in pulling data from or pushing data to NemeStats yourself.</li>
                    <li>
                        <a href="http://boardgamegeek.com/">BoardGameGeek</a> integration
                    </li>
                    <li>
                        <a href="https://www.bgstatsapp.com/">Board Game Stats</a> integration
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cool!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="homefeature2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">BoardGameGeek & Board Game Stats iOS App integration</h3>
            </div>
            <div class="modal-body">
                <b>NemeStats</b> it's fully integrated with <b><a href="https://www.boardgamegeek.com/" target="_blank;">BoardGameGeek</a></b> and the iOS App <b><a href="https://itunes.apple.com/us/app/board-game-stats/id892542000" target="_blank;">Board Game Stats</a></b>.
                <h4><a href="https://www.boardgamegeek.com/" target="_blank;"><img src="~/Content/Images/Home/boardgamegeek.png" style="width: 65px;" /></a> BoardGameGeek Integration</h4>
                <p>
                    If you already have an account with BoardGameGeek you can <b>import your existing geek list</b> directly into the site to get started quickly. BoardGameGeek has also graciously allowed us to
                    <b>display images of board games</b>, search for board games to add to your gaming Group, and it also provides some <b>basic statistics</b> about games which we include in our points calculation.
                </p>

                <h4><a href="https://itunes.apple.com/us/app/board-game-stats/id892542000" target="_blank;"><img src="~/Content/Images/Home/BGStats.png" /></a> Board Game Stats iOS App Integration</h4>

                <p>
                    Need a better mobile experience? Board Game Stats is the premier iOS app for recording the results of board games. It now comes with the ability to <b>synchronize your NemeStats Players and Game Definitions</b> so getting started is a breeze. You can also push your plays from the app directly back into NemeStats!
                </p>

                <p>You can download Board Game Stats from the app store. Simply configure your NemeStats credentials from the main settings screen and the rest should be intuitive.</p>
                <p>
                    <a href="https://itunes.apple.com/us/app/board-game-stats/id892542000" target="_blank;"><img src="~/Content/Images/Home/AppStore.png" /></a>
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Awesome!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="homefeature3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Free and Open Source Forever</h3>
            </div>
            <div class="modal-body">
                <p><b>NemeStats</b> will always be <b>Open Source, no cost, and completely ad-free!</b></p>
                <p>We built NemeStats because we <span class="fa fa-heart"></span> board games and want to provide a fun experience for other gamers. Please share your feedback with us via <a href="http://nemestats.idea.informer.com/proj/?mod=one" target="blank">idea.informer</a>, email, or join our <b><a href="https://nemestats-slack-invitation.herokuapp.com/" target="_blank;"><span class="fa fa-slack"></span> Slack</a></b> channel to join in the discussion.</p>

                <p>In addition to feedback, we are always looking for new contributors -- especially if you are a developer, UX designer, or have marketing skills. You can find our <b><a href="https://github.com/NemeStats/NemeStats" target="_blank;"><span class="fa fa-github"></span> GitHub</a></b> repository here.</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Nice!</button>
                </div>
            </div>
        </div>
    </div>
</div>
