@using UI.HtmlHelpers
@{
	ViewBag.Title = "About NemePoints";
	Layout = MVC.Shared.Views._BaseLayout;
}
<h2 class="page-header">@ViewBag.Title @Html.NemePointsIco()</h2>

<h3 style="text-decoration: underline">What Are NemePoints?</h3>
<p>
    "NemePoints" -- pronounced "Nem-eh-points" -- are gaming points awarded to players for playing games. The goal of NemePoints is to add
    meta layer to your gaming that goes beyond just a simple win/loss ratio. There is a difference between winning a 4-hour, 8-player free-for-all of Magic Realm
    vs. a 5 minute game of War. NemePoints attempts to reconcile this by awarding points based on:
    <ul>
        <li>The number of players in the game</li>
        <li>Your rank in the game</li>
        <li>The average play time of the game (courtesy of BoardGameGeek)</li>
        <li>The average "weight" of the game (also courtesy of BoardGameGeek)</li>
    </ul>
</p>

<h3 style="text-decoration: underline">What Can I Do With NemePoints?</h3>
<p>
    Our hope is that more competitive gamers could use NemePoints as an objective board gaming score within their Gaming Group. Gamers could even spin up temporary
    Gaming Groups for a board gaming conference or tournament to tally up a total score at the end. In this way you could score players playing all kinds of games.
</p>
<p>
    Ultimately, however, NemePoints are really just for fun and you probably shouldn't take them too seriously. That being said, we'll continue to find
    ways to make them more meaningful and balanced. We may add additional badges that are triggered by certain NemePoints thresholds or we may even award
    additional points and badges for playing a diverse set of games (rather than the same ones over and over).
</p>

<h3 style="text-decoration: underline">Where Can I See NemePoints?</h3>
<p>NemePoints are listed pretty much everywhere. You can see them in the following places, and others:
    <ul>
        <li>When looking at <a href="https://nemestats.com/PlayedGame/Details/41059" title="View an example Played Game">the results of a played game</a></li>
        <li>The <a href="https://nemestats.com/GamingGroup/Details/1" title="View an example Gaming Group"></a>Gaming Group page</li>
        <li>On <a href="https://nemestats.com/Player/Details/9883" title="View an example Player">the player Details page</a></li>
        <li>When viewing the <a href="https://nemestats.com/Player/ShowTopPlayers"  title="View the Top Players on NemeStats">Top Players from the Explore menu</a></li>
        <li>The <a href="http://docs.nemestatsapiversion2.apiary.io/" title="View the REST API documentation here">REST API</a> also pulls back NemePoints</li>
        <li>Etc.</li>
    </ul>
</p>

<h3 style="text-decoration: underline">How Are NemePoints Calculated?</h3>
<p>
    The algorithm for calculating NemePoints is fairly complex. However, if you've read this far then you are probably the kind of person who cares about this so
    we'll try to explain.
</p>
<p>
    The first factor used to calculate points is the number of players in the game. The more players in the game the larger the pool of available points. The pool starts
    off with 10 points per player. For example, in a 6-player game there are 6 x 10 = 60 total points up for grabs.
</p>
<p>
    Once we have the available pool of points, they are then divided amongst the players based on their rank using a fancy Fibonacci-ish algorithm. In a 2 player game, the 1st
    place player would get 2/3 of the available points and the 2nd place player would get 1/3 of the points. In a 6-player game, the 1st place player would get 25/60 of the points,
    the 2nd place player would get 15/60 of the points, 3rd place would get 10/60 of the points, 4th place gets 6/60 points, 5th place gets 4/60 points, and 6th place gets 2/60 points.
    These initial points are what we call "Base Points" for the game as they have had no other multipliers applied and are only a function of the number of players and player rank.
</p>
<p>
    We then use BoardGameGeek's "Avg. Game Weight" (see 
    the <a href="https://boardgamegeek.com/boardgame/98/axis-allies#statistics">Statistics Panel</a>)
    to add bonus points for each player. Per the results of a 
    <a href="http://boardgamegeek.com/thread/1538344/should-heavy-games-be-worth-more-casual-games/page/1">survey</a> --
    and very careful consideration and modeling -- we decided that we would award an additional 20% bonus 
    for games that have an Average Game Weight between 2.4 and 4.1. Anything with a weight greater than 4.1 is considered
    Hardcore and gets a 30% bonus. In terms of the distribution of games listed on BoardGameGeek, Hardcore games are very rare. 
    These bonus points are calculated from the Base Points * Weight Bonus and are always rounded up. In this way,
    a losing player will still always get at least one extra point if there is a Weight Bonus being applied.
</p>
<p>
    Last, we then use the average of BoardGameGeek's "Min Play Time" and "Max Play Time" to add additional bonus points for each player. Similar to the Weight Bonus,
    the Play Time bonus is calculated as a multiplier against the Base Points. After much debate, we decided to apply a very significant
    bonus for Play Time for a simple reason. If you were at a gaming conference and played a 3-hour game of Dead of Winter, we wanted
    to make sure that you could still get as many points as a player who played five 30-minute games. Otherwise it would incentivize
    only playing the shortest games possible. So a game that takes 30 to 60 minutes is the baseline and will get no bonus points. A
    game that takes 60 to 90 minutes will get a full 100% bonus. For each additional 30 minute increment we apply a tapering 100% -
    {number of 30 minute increment bonuses}. So a game that takes 90 to 120 minutes will get a 190% bonus. A game that takes 180 to 210
    minutes will award 100 + 90 + 80 + 70 = 340% bonus points.
</p>
<p>
    You can click on the NemePoints icon @Html.NemePointsIco() at most points in the UI to see the actual split between Base Points,
    Play Time Bonus Points, and Weight Bonus Points.
</p>

<h3 style="text-decoration: underline">Are NemePoints Ever Recalculated For A Game?</h3>
<p>
    Certain attributes of a game can change over time on BoardGameGeek -- including average Play Time and Average Weight. When a game is newly released these values may
    not even exist. If you record a Played Game we use the values at the time the game was recorded. However, if these values change (e.g. if a game goes from an Average Weight of 1 to an
    Average Weight of 3), then you can simply edit and resave a given Played Game and the NemePoints will be recalculated. Otherwise we keep these values static so that NemePoints
    aren't fluctuating all over the place. This would be confusing.
</p>

<h3 style="text-decoration: underline">What Do YOU Think?</h3>
<p>
    We realize that NemePoints are a fairly contentious topic among some gamers. What do you think? Should we give bonuses for game weight?
    What would make NemePoints more meaningful? Feel free to <a href="https://nemestats-slack-invitation.herokuapp.com/">join our Slack workspace</a>
    to discuss!
</p>
