@{
	ViewBag.Title = "About NemePoints";
	Layout = MVC.Shared.Views._BaseLayout;
}
<h2 class="page-header">@ViewBag.Title</h2>

<h3 style="text-decoration: underline">What Are NemePoints?</h3>

<p>
    "NemePoints" -- pronounced Nem-eh-points - are basically gaming points awarded to Players for playing games. The goal of NemePoints is to add an additional
    meta layer to your gaming to go beyond simply looking at win/loss ratios. There is a difference between winning a 4-hour, 8-player free-for-all of Magic Realm
    vs. a 5 minute game of War. NemePoints attempts to reconcile this by awarding points based on:
    <ul>
        <li>The number of players in the game</li>
        <li>Your rank in the game</li>
        <li>The average play time of the game (courtesy of BoardGameGeek)</li>
        <li>The average "weight" of the game (courtesy of BoardGameGeek)</li>
    </ul>
</p>
