@{
	ViewBag.Title = "About NemeStats";
	Layout = MVC.Shared.Views._BaseLayout;
}
<h2>@ViewBag.Title</h2>

<h3 style="text-decoration: underline">Mission Statement</h3>
<h4>
	To make it easy and fun to record the results of board games so you can get interesting
	statistics, achievements, and badges.
</h4>
<br />
<p>
	My name is Jake Gordon (&#64;jakejgordon, <a href="http://jakejgordon.wordpress.com">Blog</a>, <a href="https://github.com/jakejgordon/">https://github.com/jakejgordon/</a> on GitHub) and I created NemeStats
	because I love board games and software development. A group of co-workers play board games nearly every day at work and
	we were keeping track of wins/losses on a whiteboard -- as I've come to believe many people do. I had been wanting to start
	a project outside of work just to brush up on some new technologies and figured I might as well build a web application to
	track the results of board games... and NemeStats was born!
</p>
<p>
	My goal is to build a site that is fun, easy to use, and compelling enough that board gamers will want to record the results
	of their played games so they can get statistics that go way beyond just simple win/loss ratios. NemeStats requires that each game
	has each player's rank recorded. This opens up the opportunity to do much more advanced statistics like "How often do I beat a
	given player on a given game with a given number of players?" or "Who is the best at a particular game?" or "What is my average
	rank across any number of given games?" or even "Who is my Nemesis?".
</p>
<br />
<h3 style="text-decoration: underline">Special Thanks</h3>
<p>
	So far I've been able to enlist the help of a number of people whom I'd like to thank for their contributions:
	<ul>
		<li>
			<b>Tosho Toshev (&#64;cracker4o)</b> - Tosho is a co-founder of NemeStats and has spent a lot of time making the front end nice and
			responsive. Tosho also has helped me make many decisions in how to steer the site and continues to play an active role in
			it's development. Also, he's awesome.
		</li>
		<li>
			<b>Mike Koch (&#64;mkoch227)</b> - Mike recently joined the project and is a contributing developer on the team. Every line of code
			that Mike writes is like a haiku that makes one cry tears of joy.
		</li>
		<li>
			<b>Dennis D. Silva (&#64;dsilva609)</b> - Dennis is the newest addition to the team and is a 310 on the awesomeness scale of 1-10. You can
			check out another one of his open source projects here: <a href="https://github.com/dsilva609/Project-Belle">Project-Belle</a>
		</li>
		<li>
			<b>Paul Fresty (<a href="http://www.fresty.com/">http://www.fresty.com/</a>)</b> - Paul generously created the NemeStats logo and
			favicon in exchange for chocolate covered peanuts and a high-five.
		</li>
		<li>
			<b>Reddit Board Games (<a href="http://www.reddit.com/r/boardgames/">http://www.reddit.com/r/boardgames/</a>)</b> - So far the reddit board games community
			has been an awesome source of feedback on positive reinforcement. Hopefully we can continue to engage that group and get community-direction
			on how to grow and improve the NemeStats website.
		</li>
		<li>
			<b>BoardGameGeek (<a href="http://boardgamegeek.com">http://boardgamegeek.com</a>)</b> BoardGameGeek is THE authority for board game information and has a robust API
			which allows us to do things like search the BGG database for games and link back to their site for more information.
		</li>
	</ul>
</p>