@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NemeStats</h1>
    <h2>Keep Track Of Your Nemesis</h2>
    <p class="lead">NemeStats is a for-fun application built to learn some technologies (Entity Framework code first with migrations, OAuth 2.0, etc.)
    as well as to deliberately practice Clean Code principles as preached by Uncle Bob Martin. The purpose of the application is to
    record played games among a relatively stable group of players. The output will be an interesting set of metrics around game rank over
    the dimensions of player, number of players, game played, etc.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Define Games</h2>
        <p>
            Manage the list of Games here. A Game Definition must be created in order to create a record of a Game played.
        </p>
        <p>@Html.ActionLink("Manage Games", "Index", "GameDefinition")</p>
    </div>
    <div class="col-md-4">
        <h2>Setup Players</h2>
        <p>
            Manage the list of players here. A Player must be created in order to create a record of a game played for that Player.
        </p>
        <p>@Html.ActionLink("Manage Players", "Index", "Player")</p>
    </div>
    <div class="col-md-4">
        <h2>Save Game Results</h2>
        <p>
            Record the results of your games here.
        </p>
        <p>@Html.ActionLink("Record Results", "Index", "PlayedGame")</p>
    </div>
    <div class="col-md-4">
        <h2>View Statistics</h2>
        <p>
            View statistics here.
        </p>
        <p>@Html.ActionLink("View Statistics", "Index", "GameDefinition")</p>
    </div>
</div>