
@{
    ViewBag.Title = "NemeStats Android App";
    ViewBag.Description = "The official NemeStats Android App lets you record games quickly to nemestats.com!";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2>NemeStats Android App</h2>
<p>The official NemeStats Android app let's you quickly record the results of your games directly to NemeStats so you can get back to playing games.</p>
<p>
<a href="https://play.google.com/store/apps/details?id=com.nemestats.boardgametracker&hl=en_US" target="_self">Check out the app in the Google Play Store</a> 
for more information!
</p>
