@model BusinessLogic.Models.PlayerGameResult

<span class="gamename">@Model.PlayedGame.GameDefinition.Name</span> <text>- </text>
<span class="gamerank">
    @switch (@Model.GameRank)
    {
        case 1:
            <span class="firstplace">1st Place</span>
            break;
        case 2:
        <span class="secondplace">2nd Place</span>
            break;
        case 3:
        <span class="thirdplace">3rd Place</span>
            break;
        case 4:
        <span class="fourthplace">4th Place</span>
            break;
        default:
        <span>BIG LOSER</span>
            break;
    }
</span>

<!--TODO THIS ISNT WORKING YET-->
@Html.ActionLink("[Details]", "Details", "PlayedGame", new { id = @Model.PlayedGame.Id })