<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=co8944\SQLEXPRESS;Initial Catalog=NerdScorekeeper;Integrated Security=True" 
        providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="googleAppId" 
         value="260011030385-4651b4m7fsn28tc9vj13remofgji8m3l.apps.googleusercontent.com" 
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)" />
    <add key="googleClientSecret" 
         value="H1c-03pCcASs8Ug3fNOx9WQx"
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)"/>  
  </appSettings>
  <system.web>
  </system.web>
</configuration>