<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MyDB"
      connectionString="Data Source=co8944\SQLEXPRESS;Initial Catalog=NerdScorekeeper;Integrated Security=True"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="googleAppId"
         value="260011030385-4651b4m7fsn28tc9vj13remofgji8m3l.apps.googleusercontent.com"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="googleClientSecret"
         value="rEWsFL0AKxKODzJpNR6X4A2f"
         xdt:Transform="Replace"
         xdt:Locator="Match(key)"/>
    <add key="emailConfirmationCallbackUrl"
       value="https://nerdscorekeeper.azurewebsites.net/Account/ConfirmEmail"
       xdt:Transform="Replace"
       xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>
