<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=NerdScorekeeper;Integrated Security=True" providerName="System.Data.SqlClient"
        xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="googleAppId" 
         value="242763319560-a7tit0dqar788tukta5l5v78ot7fi378.apps.googleusercontent.com" 
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)" />
    <add key="googleClientSecret" 
         value="syVVef68WizzC7ErYemuQwEd"
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)"/>  
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>