@model IList<UI.Models.GameDefinitionModels.GameDefinitionSummaryViewModel>

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="fl-left">
            Games This Group Plays
        </h4>
        @if ((bool?)ViewData["canEdit"] == true)
        {
            <div class="fl-right">
                @Html.Action("CreatePartial", "GameDefinition")
            </div>
        }
        <div class="fl-clear"></div>
    </div>
    <div id="js-gamedefinitions">
        @Html.Partial(MVC.GameDefinition.Views._GameDefinitionsTablePartial, Model, new ViewDataDictionary { { "canEdit", ViewData["canEdit"] } })
    </div>
</div>

