@model List<UI.Models.GameDefinitionModels.GameDefinitionSummaryViewModel>

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            Games This Group Plays <span class="badge">@Model.Count</span>
        </h4>
    </div>
    <div>
        <div class="panel-body">
            @if ((bool?)ViewData["canEdit"] == true)
            {
                <div class="well">
                    @{ Html.RenderAction(MVC.GameDefinition.CreatePartial()); }
                </div>
            }
            <div id="js-gamedefinitions">
                @Html.Partial(MVC.GameDefinition.Views._GameDefinitionsTablePartial, Model, new ViewDataDictionary { { "canEdit", ViewData["canEdit"] } })
            </div>
        </div>
    </div>
</div>

