<h4>Create A New Gaming Group</h4>
<hr />
@using (Html.BeginForm(MVC.GamingGroup.ActionNames.CreateNewGamingGroup, MVC.GamingGroup.Name, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class = "col-md-3 control-label">New Gaming Group Name</label>
        <div class="col-md-9">
            <input type="text" class = "form-control" name="gamingGroupName" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <input type="submit" value="Create New Gaming Group" class="btn btn-default" />
        </div>
    </div>
}