@model UI.Models.LoginViewModel

@{
    ViewBag.Title = "Sign In";
    ViewBag.Description = "Sign in to NemeStats to record games, invite other players, and manage your Gaming Groups.";
    Layout = MVC.Shared.Views._BaseLayout;
}

<h2 class="page-header">@ViewBag.Title</h2>
<hr/> 
<div class="panel panel-primary">
    <div class="panel-heading hidden-xs">
        <h4>Login with Google or local account</h4>
    </div>
    <div class="panel-body">
        @Html.ValidationSummary(true)
        @{ Html.RenderAction(MVC.Account.LoginForm()); }
    </div>
    @*<div>
        <p>
            You can login with Google or login with the User Name and Password you used
            when you created your account with NemeStats.
        </p>
    </div>*@
</div>

<div class="row">
    <div class="col-md-8">
        <em>@Html.ActionLink("Register", "Register", new { }, new { title = "Create a new NemeStats account" }) if you don't have a local account.</em>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // Detect when Safari restores this tab after being force-closed or tombstoned.
        // sessionStorage is cleared when the tab closes, but localStorage survives.
        // If localStorage has our marker but sessionStorage doesn't, this is a restored tab.
        (function() {
            var marker = 'nemestats_login_loaded';
            if (localStorage.getItem(marker) && !sessionStorage.getItem(marker)) {
                sessionStorage.setItem(marker, '1');
                window.location.reload();
                return;
            }
            localStorage.setItem(marker, '1');
            sessionStorage.setItem(marker, '1');
        })();
    </script>
}
