@{
    Layout = null;
}
@model UI.Models.User.UserGamingGroupsModel

<li class="dropdown">
    <a href="#" class="dropdown-toggle ga-topgaminggroupswitcher-drowpdown" data-toggle="dropdown" role="button" aria-expanded="false">@Model.CurrentGamingGroup.Name<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        @foreach (var gamingGroup in Model.GamingGroups)
        {
            <li><a class="ga-topgaminggroupswitcher-switchlink" href="@Url.Action(MVC.GamingGroup.SwitchGamingGroups(gamingGroup.Id,Model.CurrentUser))">@gamingGroup.Name</a></li>
        }
        <li role="separator" class="divider"></li>
        <li><a class="ga-topgaminggroupswitcher-createnew" href="@Url.Action(MVC.Account.CreateGamingGroup())">Create gaming group</a></li>
    </ul>
</li>

