@model UI.Models.Players.PlayerVersusPlayersViewModel

@{
    Layout = null;
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>
            Opponents
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Player Name</th>
                    <th>Win - Loss Record vs. Player</th>
                    <th>% Won</th>
                </tr>
            </thead>
            <tbody>
                @foreach (UI.Models.Players.OpposingPlayerViewModel player in Model.OpposingPlayers)
                {
                    <tr>
                        <td>
                            @if (player.IsNemesis)
                            {
                                <i class="fa fa-frown-o" data-container="body" data-toggle="popover" data-placement="right"
                                   data-content="This is the current Player's Nemesis. The Nemesis is the Player with the highest win % vs. this Player. Must have won at least 3 games to be designated as the Nemesis." >
                                </i>
                            }
                            @if (player.IsMinion)
                            {
                                <i class="fa fa-thumbs-o-up" data-container="body" data-toggle="popover" data-placement="right"
                                   data-content="This is one of the current Player's Minions. Minions are Players who have this Player as a Nemesis."></i>
                            }
                        </td>
                        <td>
                            @Html.ActionLink(player.Name, "Details", "Player", new { id = player.PlayerId }, new { })
                        </td>
                        <td>
                            @string.Format("{0} - {1}", player.NumberOfGamesWonVersusThisPlayer, player.NumberOfGamesLostVersusThisPlayer)
                        </td>
                        <td>
                            @player.WinPercentageVersusThisPlayer
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>