@model IEnumerable<UI.Models.Players.TopPlayerViewModel>

<div id="topPlayersVote" class="fl-right" style="margin-top: 21px; margin-bottom: 10.5px;"></div>
<div class="fl-clear"></div>
<div class="table-responsive">
	<table class="table table-hover table-striped table-responsive" id="topFivePlayersTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Games</th>
				<th>Win %</th>
				<th>Points</th>
			</tr>
		</thead>
		@foreach (UI.Models.Players.TopPlayerViewModel playerSummaryViewModel in @Model)
		{
			<tr>
				<td>@Html.ActionLink(playerSummaryViewModel.PlayerName, "Details", "Player", new { id = playerSummaryViewModel.PlayerId }, new { })</td>
				<td>@playerSummaryViewModel.TotalNumberOfGamesPlayed</td>
				<td>@playerSummaryViewModel.WinPercentage</td>
				<td>@playerSummaryViewModel.TotalPoints</td>
			</tr>
		}
	</table>
</div>