@model IEnumerable<UI.Models.Players.TopPlayerViewModel>

@{
    ViewBag.Title = "Top " + @Model.Count() + " Players";
    ViewBag.Description = "See the top Players on NemeStats to check out some of the cool board game stats you can accumulate!";
    Layout = MVC.Shared.Views._BaseLayout;
}

<div class="container">
    <h2 class="page-header">Top @Model.Count() Players</h2>
	@Html.Partial(MVC.Player.Views._TopPlayersPartial, @Model)
</div>
