<appSettings>
  <add key="Database.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=NerdScorekeeper;Integrated Security=True" />
  <add key="Rollbar.AccessToken" value="not provided -- set in Azure App Service for production" />
  <add key="Rollbar.Environment" value="development" />
  <add key="UniversalAnalytics.TrackingId" value="UA-52982625-4" />
  <add key="googleAppId" value="not needed unless trying to login with google locally" />
  <add key="googleClientSecret" value="not needed unless logging in with google locally" />
  <add key="sendgridApiKey" value="not provided -- emails won't send when running this locally" />
  <add key="emailConfirmationCallbackUrl" value="https://localhost:44300/Account/ConfirmEmail" />
  <add key="authTokenSalt" value="some salt" />
  <add key="BGGBearerToken" value="not provided -- set in Azure App Service if required" />
</appSettings>
