<appSettings>
  <add key="Database.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=NerdScorekeeper;Integrated Security=True" />
  <add key="Rollbar.AccessToken" value="jake will give this to you if you need rollbar access to view errors" />
  <add key="Rollbar.Environment" value="development" />
  <add key="UniversalAnalytics.TrackingId" value="UA-52982625-4" />
  <add key="GoogleTagManager.TrackingId" value="GTM-5RBDXK" />
  <add key="googleAppId" value="not needed unless trying to login with google locally" />
  <add key="googleClientSecret" value="not needed unless logging in with google locally" />
  <add key="emailServiceUserName" value="not provided -- emails wont send when running this locally" />
  <add key="emailServicePassword" value="not provided -- emails wont send when running this locally" />
  <add key="emailConfirmationCallbackUrl" value="https://localhost:44300/Account/ConfirmEmail" />
  <add key="authTokenSalt" value="some salt"/>
</appSettings>