
@{
    Layout = MVC.Shared.Views._Layout;
}

<div class="container body-content">
    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - NemeStats</p>
    </footer>
</div>

@section Scripts{
    @RenderSection("Scripts", false)
}