@{
	Layout = MVC.Shared.Views._Layout;
}
<div class="container body-content">
	@RenderBody()
	<hr />
	<footer>
		<p>
			&copy; @DateTime.Now.Year - NemeStats
			| <a href="https://plus.google.com/115226456486429841980" target="_blank" rel="publisher" id="googleplusfollow">Google+</a>
			| <a href="https://twitter.com/NemeStats" class="twitter-follow-button" data-show-count="false" id="twitterfollow">Follow &#64;NemeStats</a>
			<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
			| <a href="mailto:nemestats@gmail.com?subject=NemeStats feedback" id="sendfeedback">Send Feedback</a>
		</p>
	</footer>
</div>
@section Scripts {
	@RenderSection("Scripts", required: false)
}