@{
	Layout = MVC.Shared.Views._Layout;
}
<div class="container body-content">
	@RenderBody()
	<hr />
	@{ Html.RenderPartial(MVC.Shared.Views.Footer);}
</div>
@section Scripts {
	@RenderSection("Scripts", required: false)
}