@{
    Layout = null;
}

<footer>
    <span>&copy; @DateTime.Now.Year - NemeStats</span>
    <span>| <a class="btn btn-xs btn-default" href="https://twitter.com/NemeStats" title="Follow us on Twitter"><i class="fa fa-twitter"></i> Follow @@NemeStats</a></span>
    <span>| <a class="btn btn-xs btn-default" href="http://nemestats.idea.informer.com/proj/?mod=one" id="gtm-sendfeedback-footer" title="Leave us feedback on Idea Informer"><i class="fa fa-envelope" title="Post ideas or upvoting existing ones on Idea Informer"></i> Leave us Feedback</a></span>
    <span>| <a class="btn btn-xs btn-default" href="https://nemestats-slack-invitation.herokuapp.com/" id="gtm-joinslack-footer" title="Join our Slack workspace"><i class="fa fa-slack"></i> Join us on Slack!</a></span>
    <span>| <a class="btn btn-xs btn-default" href="https://plus.google.com/115226456486429841980" target="_blank" rel="publisher" id="googleplusfollow" title="Follow us on Google+"><i class="fa fa-google-plus"></i> Google+</a></span>
    | <div style="display: inline-block; vertical-align: middle">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="display: inline-block; margin-top: 3px;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="L2DYY6H5NF7N8">
            <input type="image" id="paypalImageId" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" style="border: 0" name="submit" alt="We appreciate your donation to help keep NemeStats free forever!" title="Donate to NemeStats via PayPal">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</footer>