@{
    Layout = null;
}

<footer>
    <span>&copy; @DateTime.Now.Year - NemeStats</span>
    <span>| <a class="btn btn-xs btn-default" href="https://plus.google.com/115226456486429841980" target="_blank" rel="publisher" id="googleplusfollow">Google+</a></span>
    <span>| <a class="btn btn-xs btn-default" href="http://nemestats.idea.informer.com/proj/?mod=one" id="gtm-sendfeedback-footer">Leave us Feedback</a></span>
    <span>| <a class="btn btn-xs btn-default" href="https://nemestats-slack-invitation.herokuapp.com/" id="gtm-joinslack-footer">Join us on Slack!</a></span>
    <span>| <a href="https://twitter.com/NemeStats" class="twitter-follow-button" data-show-count="false">Follow @@NemeStats</a></span>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
</footer>