@{
    Layout = null;
}

<footer>
    <span>&copy; @DateTime.Now.Year - NemeStats</span>
    <span>| <a class="btn btn-xs btn-default" href="https://plus.google.com/115226456486429841980" target="_blank" rel="publisher" id="googleplusfollow"><i class="fa fa-google-plus"></i> Google+</a></span>
    <span>| <a class="btn btn-xs btn-default" href="http://nemestats.idea.informer.com/proj/?mod=one" id="gtm-sendfeedback-footer"><i class="fa fa-envelope"></i> Leave us Feedback</a></span>
    <span>| <a class="btn btn-xs btn-default" href="https://nemestats-slack-invitation.herokuapp.com/" id="gtm-joinslack-footer"><i class="fa fa-slack"></i> Join us on Slack!</a></span>
    <span>| <a class="btn btn-xs btn-default" href="https://twitter.com/NemeStats"><i class="fa fa-twitter"></i> Follow @@NemeStats</a></span>
</footer>