@model UI.Models.UniversalGameModels.UniversalGameStatsViewModel
    
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Statistics For All Gaming Groups</h4>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-striped">
                <tr>
                    <td class="col-md-2"><strong>Total Games Played on NemeStats:</strong></td>
                    <td class="col-md-2">@Model.TotalNumberOfGamesPlayed</td>
                </tr>
                <tr>
                    <td><strong>Total Gaming Groups With This Game</strong></td>
                    <td>@Model.TotalGamingGroupsWithThisGame</td>
                </tr>
                <tr>
                    <td><strong>Average Players Per Game</strong></td>
                    <td>@Model.AveragePlayersPerGame</td>
                </tr>
            </table>
        </div>
    </div>
</div>