<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net452" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.4.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
  <package id="RollbarSharp" version="0.3.5.0" targetFramework="net452" />
  <package id="structuremap" version="4.0.0.315" targetFramework="net452" />
  <package id="structuremap.automocking" version="4.0.0.315" targetFramework="net452" />
  <package id="X.PagedList" version="1.24.1.300" targetFramework="net452" />
</packages>