.neme-points-ico {
  color: #2C3E50;
  font-size: 10px; }
  .neme-points-ico .letter {
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fa.fa-slashed:after {
  position: relative;
  content: "/";
  font-weight: 700;
  font-size: 1.7em;
  left: -17px;
  top: 2px; }

@media only screen and (max-width: 991px) {
  #player-details .gameDefinitionsList#flip-scroll .badges-head {
    padding: 5px; }
  #player-details .gameDefinitionsList#flip-scroll .badges-col {
    line-height: 0;
    height: 31px; } }

#player-details .gameDefinitionsList .badges-col {
  width: 20px;
  line-height: 100px; }

#player-details .gameDefinitionsList .bgg-link-col {
  text-align: left; }

@media only screen and (max-width: 991px) {
  .gameDefinitionsList#flip-scroll .bgg-link-head {
    height: 100px; }
  .gameDefinitionsList#flip-scroll .edit-head {
    height: 40px; }
  .gameDefinitionsList#flip-scroll .plays-col {
    text-align: center; }
  .gameDefinitionsList#flip-scroll .champion-col {
    height: 30px;
    text-align: center; }
  .gameDefinitionsList#flip-scroll .edit-col {
    text-align: center; } }

.gameDefinitionsList .edit-col {
  text-align: center; }

.gameDefinitionsList .no-bgg-ico {
  font-size: 40px; }

.gameDefinitionsList .bgg-link-col {
  font-weight: bold;
  height: 100px;
  overflow: hidden;
  text-align: center; }
  .gameDefinitionsList .bgg-link-col .bgg-thumbnail {
    width: auto;
    height: 100%;
    max-width: 200px;
    min-height: 100px; }

