.neme-points-ico {
  color: #2C3E50;
  font-size: 10px; }
  .neme-points-ico .letter {
    color: white;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fa.fa-slashed:after {
  position: relative;
  content: "/";
  font-weight: 700;
  font-size: 1.7em;
  left: -17px;
  top: 2px; }

@media only screen and (max-width: 991px) {
  .gameDefinitionsList#flip-scroll .bgg-link-head {
    height: 100px; }
  .gameDefinitionsList#flip-scroll .edit-head {
    height: 4px; }
  .gameDefinitionsList#flip-scroll .plays-row {
    text-align: center; }
  .gameDefinitionsList#flip-scroll .champion-row {
    height: 30px;
    text-align: center; }
  .gameDefinitionsList#flip-scroll .edit-row {
    text-align: center; } }

.gameDefinitionsList .edit-row {
  text-align: center; }

.gameDefinitionsList .no-bgg-ico {
  font-size: 40px; }

.gameDefinitionsList .bgg-link-row {
  font-weight: bold;
  height: 100px;
  overflow: hidden;
  text-align: center; }
  .gameDefinitionsList .bgg-link-row .bgg-thumbnail {
    width: auto;
    height: 100%;
    max-width: 200px;
    min-height: 100px; }

