@import "variables.scss";
@import "bootstrap/_variables.scss";

.neme-points-ico {
    color: $header-background;
    font-size: 10px;

    .letter {
        color: white;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.fa {
    &.fa-slashed {
        &:after {
            position: relative;
            content: "/";
            font-weight: 700;
            font-size: 1.7em;
            left: -17px;
            top: 2px;
        }
    }
}


$gamename-height: 70px;
$gamethumbnail-maxwidht: 200px;
$gamethumbnail-height: 100px;

#player-details {
    .gameDefinitionsList {
        @media only screen and (max-width: $screen-sm-max) {
            &#flip-scroll {
                .badges-head {
                    padding: 5px;
                }

                .badges-col {
                    line-height: 0;
                    height: 31px;
                }
            }
        }

        .badges-col {
            width: 20px;
            line-height: $gamethumbnail-height;
        }

        .bgg-link-col {
            text-align: left;
        }
    }
}


.gameDefinitionsList {
    &#flip-scroll {
        @media only screen and (max-width: $screen-sm-max) {

            .bgg-link-head {
                height: $gamethumbnail-height;
            }

            .edit-head {
                height: 40px;
            }

            .name-head {
                height: $gamename-height;
            }

            .name-col {
                height: $gamename-height;
                max-width: $gamethumbnail-maxwidht;
                overflow: hidden;

                a {
                    white-space: normal;
                    word-break: break-word;
                }
            }

            .edit-col {
                height: 47px;
            }

            .plays-col {
                text-align: center;
            }

            .champion-col {
                height: 30px;
                text-align: center;
            }

            .edit-col {
                text-align: center;
            }
        }
    }

    .edit-col {
        text-align: center;
    }

    .no-bgg-ico {
        font-size: 40px;
    }

    .bgg-link-col {
        font-weight: bold;
        height: $gamethumbnail-height;
        overflow: hidden;
        text-align: center;
        max-width: $gamethumbnail-maxwidht;

        .bgg-thumbnail {
            width: auto;
            height: 100%;
            min-height: $gamethumbnail-height;
        }
    }
}
