@import "variables.scss";
@import "bootstrap/_variables.scss";

.neme-points-ico {
    color: $header-background;
    font-size: 10px;

    .letter {
        color: white;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.fa {
    &.fa-slashed {
        &:after {
            position: relative;
            content: "/";
            font-weight: 700;
            font-size: 1.7em;
            left: -17px;
            top: 2px;
        }
    }
}

.gameDefinitionsList {
    &#flip-scroll {
        @media only screen and (max-width: $screen-sm-max) {

            .bgg-link-head {
                height: 115px;
            }

            .edit-head {
                height: 41px;
            }

            .plays-row {
                text-align: center;
            }

            .champion-row {
                height: 30px;
                text-align: center;
            }

            .edit-row {
                text-align: center;
            }
        }
    }


    .edit-row {
        text-align: center;
    }

    .no-bgg-ico {
        font-size: 40px;
    }

    .bgg-link-row {
        font-weight: bold;
        height: 100px;
        overflow: hidden;
        text-align: center;

        .bgg-thumbnail {
            width: auto;
            height: 100%;
            max-width: 200px;
            min-height: 100px;
        }
    }
}
